<div class="sub-nav hidden-sm hidden-xs">
	<ul>
		<li><a href="" class="heading">Dashboard</a></li>
		<li class="hidden-sm hidden-xs"><a href="index.html"
			class="selected">Dashboard V1</a></li>
		<li class="hidden-sm hidden-xs"><a href="index2.html">Dashboard
				V2</a></li>
		<li class="hidden-sm hidden-xs"><a href="index3.html">Dashboard
				V3</a></li>
	</ul>
	<div class="custom-search hidden-sm hidden-xs">
		<input type="text" class="search-query" placeholder="全局检索 ...">
		<i class="fa fa-search"></i>
	</div>
</div>
<!-- Sub Nav End -->