<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="author" content="ThemeFuse">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Dark Velvet | Pricing</title>

<!-- main JS libs  -->
<script src="js/libs/modernizr.min.js"></script>
<script src="js/libs/jquery-1.10.0.js"></script>

<!-- Style CSS-->
<link href="style.less" media="screen" rel="stylesheet/less" type="text/css">

<!-- scripts  -->
<script src="js/general.js"></script>
<!-- Placeholders -->
<script type="text/javascript" src="js/jquery.powerful-placeholder.min.js"></script>

<!-- LESS -->
<script src="js/libs/less.js"></script>

<!--[if lt IE 9]><script src="js/respond.min.js"></script><![endif]-->
<!--[if gte IE 9]>
<style type="text/css">
    .gradient {filter: none !important;}
</style>
<![endif]-->
</head>

<body>
<div class="body_wrap">
	<!--container-->
	<div class="container">
		<!--content-->
		<div class="content " role="main">

            <div class="row"><div class="col-sm-12"><h6 class="foo">Services without background</h6></div></div>

            <!-- .service list-->
            <div class="service_list service_list_1">
                <!-- .row-->
                <div class="row">
                    <!--service item-->
                    <div class="col-sm-5">
                        <div class="service_item">
                            <div class="service_img"><img class="service_icon" src="images/icons/service-icon-1.png" alt="" /></div>
                            <div class="service_title">
                                <h2>Business Development</h2>
                                <p>Proin Quis Tortor Orci. Etiam At Risus Et</p>
                            </div>
                            <div class="service_desc">
                                <p>Praesent id tempus quam. Proin laoreet mollis felis ut placerat. Nulla facilisi. Etiam non sapien a nisi tempor varius in nec lectus. Nunc non lobortis lectus sed malesuada quam . Nam pharetra, eros id feugiat malesuada, quam velit euismod risus, sed malesuada quam est nec ipsum.</p>
                            </div>
                            <div class="service_meta_bot"><a href="#" class="btn"><span>Learn More</span></a></div>
                        </div>
                    </div>
                    <!--/service item-->

                    <!--service item-->
                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="service_item">
                            <div class="service_img"><img class="service_icon service_icon_location" src="images/icons/service-icon-2.png" alt="" /></div>
                            <div class="service_title">
                                <h2>Get a ride on our Corporate Bus</h2>
                                <p>Etiam At Risus Et Justo Dignissim Congue</p>
                            </div>
                            <div class="service_desc">
                                <p>Donec ante est, tempor id adipiscing quis, lacinia consequat enim. Maecenas eu ligula diam. Praesent metus eros, interdum id gravida ut, dignissim vitae nunc. Aliquam erat volutpat. Vestibulum tincidunt augue quis sapien consectetur vitae vestibulum tortor lobortis.</p>
                            </div>
                            <div class="service_meta_bot"><a href="#" class="btn"><span>Learn More</span></a></div>
                        </div>
                    </div>
                    <!--/service item-->
                </div>
                <!--/ .row-->

                <!-- .row-->
                <div class="row">
                    <!--service item-->
                    <div class="col-sm-5">
                        <div class="service_item">
                            <div class="service_img"><img class="service_icon service_icon_copywriting" src="images/icons/service-icon-3.png" alt="" /></div>
                            <div class="service_title">
                                <h2>Web Design make difference</h2>
                                <p>Proin Quis Tortor Orci. Etiam At Risus Et</p>
                            </div>
                            <div class="service_desc">
                                <p>Aenean et pellentesque libero. Ut sed leo enim. Ut eu eros ut turpis egestas placerat in quis odio. Duis luctus, massa vitae rhoncus imperdiet, magna eros pulvinar enim, at vehicula elit quam quis dolor. Curabitur ac mauris id leo ullamcorper viverra id a lacus. Sed in leo erat, dapibus commodo odio.</p>
                            </div>
                            <div class="service_meta_bot"><a href="#" class="btn"><span>Learn More</span></a></div>
                        </div>
                    </div>
                    <!--/service item-->

                    <!--service item-->
                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="service_item">
                            <div class="service_img"><img class="service_icon service_icon_settings" src="images/icons/service-icon-4.png" alt="" /></div>
                            <div class="service_title">
                                <h2>Unique Entertainment Program</h2>
                                <p>Etiam At Risus Et Justo Dignissim Congue</p>
                            </div>
                            <div class="service_desc">
                                <p>Praesent blandit pulvinar ligula at malesuada. Aliquam placerat rutrum tempor. In posuere nisl quis urna viverra ut varius risus accumsan. Quisque elementum, turpis nec bibendum condimentum, elit quam tristique lorem, ac interdum elit orci eget orci. Cras sit amet dolor id massa tincidunt.</p>
                            </div>
                            <div class="service_meta_bot"><a href="#" class="btn"><span>Learn More</span></a></div>
                        </div>
                    </div>
                    <!--/service item-->
                </div>
                <!--/ .row-->

                <!-- .row-->
                <div class="row">
                    <!--service item-->
                    <div class="col-sm-5">
                        <div class="service_item">
                            <div class="service_img"><img class="service_icon service_icon_privacy" src="images/icons/service-icon-5.png" alt="" /></div>
                            <div class="service_title">
                                <h2>Technical Support by chat, forum</h2>
                                <p>Proin Quis Tortor Orci. Etiam At Risus Et</p>
                            </div>
                            <div class="service_desc">
                                <p>Suspendisse quis ullamcorper massa. Fusce eu eros vel nulla aliquet venenatis in sit amet metus. Vivamus porta, nisl non fringilla aliquam, massa velit semper mauris, ac molestie est velit at ligula. Nullam quis suscipit tortor.In tempor sed malesuada quam tempor semper.</p>
                            </div>
                            <div class="service_meta_bot"><a href="#" class="btn"><span>Learn More</span></a></div>
                        </div>
                    </div>
                    <!--/service item-->

                    <!--service item-->
                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="service_item">
                            <div class="service_img"><img class="service_icon service_icon_security" src="images/icons/service-icon-6.png" alt="" /></div>
                            <div class="service_title">
                                <h2>Analysis &amp; Stats for your needs</h2>
                                <p>Etiam At Risus Et Justo Dignissim Congue</p>
                            </div>
                            <div class="service_desc">
                                <p>Nullam sagittis luctus adipiscing. Phasellus pretium nulla felis, at molestie lorem. Nulla nec lacinia lorem. Curabitur dapibus suscipit hendrerit. Mauris libero eros, semper adipiscing malesuada eu, facilisis venenatis elit. Quisque blandit auctor turpis, vitae vulputate metus porttitor at.</p>
                            </div>
                            <div class="service_meta_bot"><a href="#" class="btn"><span>Learn More</span></a></div>
                        </div>
                    </div>
                    <!--/service item-->
                </div>
                <!--/ .row-->
            </div>
            <!--/ .service list-->

            <!-- .row-->
            <div class="row">
                <div class="col-sm-12">
                    <h6 class="foo">CLIENTS BOX WITH BANNERS</h6>
                    <!-- .clients box-->
                    <div class="clients_box boxed">
                        <div class="clients_box_content">
                            <div class="ribbon ribbon-blue"><span>MEET OUR PARTNERS &amp; FRIENDS</span></div>
                            <div class="clients_list clearfix">
                                <a class="client" href="#"><img src="images/temp/wordpress.png" alt="" /></a>
                                <a class="client" href="#"><img src="images/temp/drupal.png" alt="" /></a>
                                <a class="client" href="#"><img src="images/temp/joomla.png" alt="" /></a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <!--/ .clients box-->
                </div>
            </div>
            <!--/ .row-->

            <!-- .row-->
            <div class="row">
                <div class="col-sm-12">

                    <h6 class="foo">Services with background</h6>
                    <!-- .service list-->
                    <div class="service_list service_list_2 boxed">
                        <div class="inner">
                            <!-- .row level 2 -->
                            <div class="row">
                                <!--service item-->
                                <div class="col-sm-5 col-sm-offset-1">
                                    <div class="service_item">
                                        <div class="service_img"><img src="images/icons/service-icon-7.png" alt="" /></div>
                                        <div class="service_title">
                                            <h2>Watch now our Online Training</h2>
                                            <p>Proin Quis Tortor Orci. Etiam At Risus Et</p>
                                        </div>
                                        <div class="service_desc">
                                            <p>Praesent id tempus quam. Proin laoreet mollis felis ut placerat. Nulla facilisi. Etiam non sapien a nisi tempor varius in nec lectus. Nunc non lobortis lectus sed malesuada quam . Nam pharetra, eros id feugiat malesuada, quam velit euismod risus, sed malesuada quam est nec</p>
                                        </div>
                                        <div class="service_meta_bot"><a href="#" class="btn"><span>Learn More</span></a></div>
                                    </div>
                                </div>
                                <!--/service item-->

                                <!--service item-->
                                <div class="col-sm-5">
                                    <div class="service_item">
                                        <div class="service_img"><img src="images/icons/service-icon-8.png" alt="" /></div>
                                        <div class="service_title">
                                            <h2>Filming is what we love</h2>
                                            <p>Etiam At Risus Et Justo Dignissim Congue</p>
                                        </div>
                                        <div class="service_desc">
                                            <p>Donec ante est, tempor id adipiscing quis, lacinia consequat enim. Maecenas eu ligula diam. Praesent metus eros, interdum id gravida ut, dignissim vitae nunc. Aliquam erat volutpat. Vestibulum tincidunt augue quis sapien consectetur vitae vestibulum tortor lobortis.</p>
                                        </div>
                                        <div class="service_meta_bot"><a href="#" class="btn"><span>Learn More</span></a></div>
                                    </div>
                                </div>
                                <!--/service item-->
                            </div>
                            <!--/ .row level 2 -->

                            <!-- .row level 2 -->
                            <div class="row">
                                <!--service item-->
                                <div class="col-sm-5 col-sm-offset-1">
                                    <div class="service_item">
                                        <div class="service_img"><img src="images/icons/service-icon-9.png" alt="" /></div>
                                        <div class="service_title">
                                            <h2>Whe are already in your town</h2>
                                            <p>Proin Quis Tortor Orci. Etiam At Risus Et</p>
                                        </div>
                                        <div class="service_desc">
                                            <p>Praesent blandit pulvinar ligula at malesuada. Aliquam placerat rutrum tempor. In posuere nisl quis urna viverra ut varius risus accumsan. Quisque elementum, turpis nec bibendum condimentum, elit quam tristique lorem, ac interdum elit orci eget orci. Cras sit amet dolor id.</p>
                                        </div>
                                        <div class="service_meta_bot"><a href="#" class="btn"><span>Learn More</span></a></div>
                                    </div>
                                </div>
                                <!--/service item-->

                                <!--service item-->
                                <div class="col-sm-5">
                                    <div class="service_item">
                                        <div class="service_img"><img src="images/icons/service-icon-10.png" alt="" /></div>
                                        <div class="service_title">
                                            <h2>Rate us in the Comments section</h2>
                                            <p>Etiam At Risus Et Justo Dignissim Congue</p>
                                        </div>
                                        <div class="service_desc">
                                            <p>Aenean et pellentesque libero. Ut sed leo enim. Ut eu eros ut turpis egestas placerat in quis odio. Duis luctus, massa vitae rhoncus imperdiet, magna eros pulvinar enim, at vehicula elit quam quis dolor. Curabitur ac mauris id leo ullamcorper viverra id a lacus. Sed in leo erat, dapibus.</p>
                                        </div>
                                        <div class="service_meta_bot"><a href="#" class="btn"><span>Learn More</span></a></div>
                                    </div>
                                </div>
                                <!--/service item-->
                            </div>
                            <!--/ .row level 2 -->

                            <!-- .row level 2 -->
                            <div class="row">
                                <!--service item-->
                                <div class="col-sm-5 col-sm-offset-1">
                                    <div class="service_item">
                                        <div class="service_img"><img src="images/icons/service-icon-11.png" alt="" /></div>
                                        <div class="service_title">
                                            <h2>Your Shopping Cart is ready</h2>
                                            <p>Proin Quis Tortor Orci. Etiam At Risus Et</p>
                                        </div>
                                        <div class="service_desc">
                                            <p>Suspendisse quis ullamcorper massa. Fusce eu eros vel nulla aliquet venenatis in sit amet metus. Vivamus porta, nisl non fringilla aliquam, massa velit semper mauris, ac molestie est velit at ligula. Nullam quis suscipit tortor.In tempor sed malesuada quam tempor semper.</p>
                                        </div>
                                        <div class="service_meta_bot"><a href="#" class="btn"><span>Learn More</span></a></div>
                                    </div>
                                </div>
                                <!--/service item-->

                                <!--service item-->
                                <div class="col-sm-5">
                                    <div class="service_item">
                                        <div class="service_img"><img src="images/icons/service-icon-12.png" alt="" /></div>
                                        <div class="service_title">
                                            <h2>We speed up your business</h2>
                                            <p>Etiam At Risus Et Justo Dignissim Congue</p>
                                        </div>
                                        <div class="service_desc">
                                            <p>Nullam sagittis luctus adipiscing. Phasellus pretium nulla felis, at molestie lorem. Nulla nec lacinia lorem. Curabitur dapibus suscipit hendrerit. Mauris libero eros, semper adipiscing malesuada eu, facilisis venenatis elit. Quisque blandit auctor turpis, vitae vulputate metus.</p>
                                        </div>
                                        <div class="service_meta_bot"><a href="#" class="btn"><span>Learn More</span></a></div>
                                    </div>
                                </div>
                                <!--/service item-->
                            </div>
                            <!--/ .row level 2 -->

                        </div>
                    </div>
                    <!--/ .service list-->
                </div>
            </div>
            <!--/ .row-->

            <div class="row"><div class="col-sm-12"><h6 class="foo">SERVICES 3 COLUMNS</h6></div></div>

            <!-- .service list-->
            <div class="service_list service_list_3">
                <!-- .row-->
                <div class="row">
                    <!--service item-->
                    <div class="col-sm-4">
                        <div class="service_item">
                            <div class="service_img boxed"><img class="service_icon service_icon_concept" src="images/icons/icon-3column-1.png" alt="" /></div>
                            <div class="service_title">
                                <h2>Premium Services</h2>
                                <p>Proin Quis Tortor Orci. Etiam At Risus Et</p>
                            </div>
                            <div class="service_desc">
                                <p>Suspendisse quis ullamcorper massa. Fusce eu eros vel nulla aliquet venenatis in sit amet metus. Vivamus porta, nisl non fringilla aliquam, massa velit semper mauris, ac molestie est velit at ligula. Nullam quis suscipit tortor.In tempor sed malesuada quam tempor semper.</p>
                            </div>
                            <div class="service_meta_bot"><a href="#" class="btn btn-red"><span>Learn More</span></a></div>
                        </div>
                    </div>
                    <!--/service item-->

                    <!--service item-->
                    <div class="col-sm-4">
                        <div class="service_item">
                            <div class="service_img boxed"><img class="service_icon service_icon_location" src="images/icons/icon-3column-2.png" alt="" /></div>
                            <div class="service_title">
                                <h2>Absolute Protection</h2>
                                <p>Etiam At Risus Et Justo Dignissim Congue</p>
                            </div>
                            <div class="service_desc">
                                <p>Nullam sagittis luctus adipiscing. Phasellus pretium nulla felis, at molestie lorem. Nulla nec lacinia lorem. Curabitur dapibus suscipit hendrerit. Mauris libero eros, semper adipiscing malesuada eu, facilisis venenatis elit. Quisque blandit auctor turpis, vitae vulputate metus.</p>
                            </div>
                            <div class="service_meta_bot"><a href="#" class="btn btn-red"><span>Learn More</span></a></div>
                        </div>
                    </div>
                    <!--/service item-->

                    <!--service item-->
                    <div class="col-sm-4">
                        <div class="service_item">
                            <div class="service_img boxed"><img class="service_icon service_icon_copywriting" src="images/icons/icon-3column-3.png" alt="" /></div>
                            <div class="service_title">
                                <h2>Cloud Storage and Unlimited Bandwidth</h2>
                                <p>Etiam At Risus Et Justo Dignissim Congue</p>
                            </div>
                            <div class="service_desc">
                                <p>Aenean et pellentesque libero. Ut sed leo enim. Ut eu eros ut turpis egestas placerat in quis odio. Duis luctus, massa vitae rhoncus imperdiet, magna eros pulvinar enim.</p>
                            </div>
                            <div class="service_meta_bot"><a href="#" class="btn btn-red"><span>Learn More</span></a></div>
                        </div>
                    </div>
                    <!--/service item-->
                </div>
                <!--/ .row-->
            </div>
            <!--/ .service list-->

            <div class="row"><div class="col-sm-12"><h6 class="foo">SERVICES 3 COLUMNS</h6></div></div>

            <!-- .service list-->
            <div class="service_list service_list_4">
                <!-- .row-->
                <div class="row">
                    <!--service item-->
                    <div class="col-sm-4">
                        <div class="service_item boxed">
                            <div class="inner">
                                <div class="service_img"><img class="service_icon service_icon_concept" src="images/icons/icon-3column-4.png" alt="" /></div>
                                <div class="service_title">
                                    <h2>We love you! No, seriously!</h2>
                                    <p>My name is the Lord when I lay My vengeance</p>
                                </div>
                                <div class="service_desc">
                                    <p>Suspendisse quis ullamcorper massa. Fusce eu eros vel nulla aliquet venenatis in sit amet metus. Vivamus porta, nisl non fringilla aliquam, massa velit semper mauris, ac molestie est velit at ligula. Nullam quis suscipit tortor.In tempor sed malesuada quam tempor semper.</p>
                                </div>
                                <div class="service_meta_bot"><a href="#" class="btn btn-red"><span>Learn More</span></a></div>
                            </div>
                        </div>
                    </div>
                    <!--/service item-->

                    <!--service item-->
                    <div class="col-sm-4">
                        <div class="service_item boxed">
                            <div class="inner">
                                <div class="service_img"><img class="service_icon service_icon_location" src="images/icons/icon-3column-5.png" alt="" /></div>
                                <div class="service_title">
                                    <h2>Are you ready to Network?</h2>
                                    <p>Etiam At Risus Et Justo Dignissim Congue</p>
                                </div>
                                <div class="service_desc">
                                    <p>Nullam sagittis luctus adipiscing. Phasellus pretium nulla felis, at molestie lorem. Nulla nec lacinia lorem. Curabitur dapibus suscipit hendrerit. Mauris libero eros, semper adipiscing malesuada eu, facilisis venenatis elit. Quisque blandit auctor turpis, vitae vulputate metus.</p>
                                </div>
                                <div class="service_meta_bot"><a href="#" class="btn btn-red"><span>Learn More</span></a></div>
                            </div>
                        </div>
                    </div>
                    <!--/service item-->

                    <!--service item-->
                    <div class="col-sm-4">
                        <div class="service_item boxed">
                            <div class="inner">
                                <div class="service_img"><img class="service_icon service_icon_copywriting" src="images/icons/icon-3column-6.png" alt="" /></div>
                                <div class="service_title">
                                    <h2>Come and visit Our Office, we have cookies!</h2>
                                    <p>Etiam At Risus Et Justo Dignissim Congue</p>
                                </div>
                                <div class="service_desc">
                                    <p>Aenean et pellentesque libero. Ut sed leo enim. Ut eu eros ut turpis egestas placerat in quis odio. Duis luctus, massa vitae rhoncus imperdiet, magna eros pulvinar enim.</p>
                                </div>
                                <div class="service_meta_bot"><a href="#" class="btn btn-red"><span>Learn More</span></a></div>
                            </div>
                        </div>
                    </div>
                    <!--/service item-->
                </div>
                <!--/ .row-->
            </div>
            <!--/ .service list-->

            <!-- .row-->
            <div class="row">
                <div class="col-sm-12">
                    <h6 class="foo">Pricing Tables</h6>

                    <!-- pricing1-->
                    <div class="pricing_box price_style1 clearfix">
                        <ul>

                            <li class="price_col">
                                <!--pricing item-->
                                <div class="price_item">
                                    <div class="inner">
                                        <div class="badge"></div>
                                        <div class="price_col_head">
                                            <span class="price"><em>$ 59</em><span>per month</span></span>
                                        </div>
                                        <div class="price_col_body clearfix">
                                            <div class="price_body_inner">
                                                <div class="price_body_top">
                                                    <strong>Basic</strong>
                                                    <span>Lots of clients &amp; users</span>
                                                </div>
                                                <ul>
                                                    <li>250 SKU’s</li>
                                                    <li>1 GB Storage</li>
                                                    <li>3,5% transaction fee</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="price_col_foot">
                                            <div class="sign_up"><a href="#" class="btn btn-large btn-black"><span>Try Now</span></a></div>
                                        </div>
                                    </div>
                                </div>
                                <!--/ pricing-item -->
                            </li>

                            <li class="price_col price_col_red col_active">
                                <!--pricing item-->
                                <div class="price_item">
                                    <div class="inner">
                                        <div class="badge"></div>
                                        <div class="price_col_head">
                                            <span class="price"><em>$ 299</em><span>per month</span></span>
                                        </div>
                                        <div class="price_col_body clearfix">
                                            <div class="price_body_inner">
                                                <div class="price_body_top">
                                                    <strong>Premium</strong>
                                                    <span>Lots of clients  & users</span>
                                                </div>
                                                <ul>
                                                    <li>2,500 SKU’s</li>
                                                    <li>5 GB Storage</li>
                                                    <li>1,5% transaction fee</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="price_col_foot">
                                            <div class="sign_up"><a href="#" class="btn btn-red btn-large"><span>Subscribe</span></a></div>
                                        </div>
                                    </div>
                                </div>
                                <!--/ pricing-item -->
                            </li>

                            <li class="price_col price_col_blue">
                                <!--pricing item-->
                                <div class="price_item">
                                    <div class="badge"></div>
                                    <div class="inner">
                                        <div class="price_col_head">
                                            <span class="price"><em>$ 499</em><span>per month</span></span>
                                        </div>
                                        <div class="price_col_body clearfix">
                                            <div class="price_body_inner">
                                                <div class="price_body_top">
                                                    <strong>Unlimited</strong>
                                                    <span>Lots of clients &amp; users</span>
                                                </div>
                                                <ul>
                                                    <li>Unlimited SKU’s</li>
                                                    <li>20 GB Storage</li>
                                                    <li>1% transaction fee</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="price_col_foot">
                                            <div class="sign_up"><a href="#" class="btn btn-large btn-black"><span>Try Now</span></a></div>
                                        </div>
                                    </div>
                                </div>
                                <!--/ pricing-item -->
                            </li>

                        </ul>
                    </div>
                    <!--/ pricing1-->
                </div>
            </div>
            <!--/ .row-->

            <!-- pricing2-->
            <div class="pricing_box price_style2 row clearfix">
                <ul>

                    <li class="price_col col-sm-4">
                        <!--pricing item-->
                        <div class="price_item">
                            <div class="badge"></div>
                            <div class="inner">
                                <div class="price_col_head">
                                    <span class="price"><em>$ 59</em><span>per month</span></span>
                                </div>
                                <div class="price_col_body clearfix">
                                    <div class="price_body_inner">
                                        <div class="price_body_top">
                                            <strong>Basic</strong>
                                            <span>Lots of clients &amp; users</span>
                                        </div>
                                        <ul>
                                            <li>2,500 SKU’s</li>
                                            <li>5 GB Storage</li>
                                            <li>1,5% transaction fee</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="price_col_foot">
                                    <div class="sign_up"><a href="#" class="btn btn-large btn-black"><span>Try Now</span></a></div>
                                </div>
                            </div>
                        </div>
                        <!--/ pricing-item -->
                    </li>

                    <li class="price_col price_col_red col-sm-4 col_active">
                        <!--pricing item-->
                        <div class="price_item">
                            <div class="badge"></div>
                            <div class="inner">
                                <div class="price_col_head">
                                    <span class="price"><em>$ 299</em><span>per month</span></span>
                                </div>
                                <div class="price_col_body clearfix">
                                    <div class="price_body_inner">
                                        <div class="price_body_top">
                                            <strong>Premium</strong>
                                            <span>Lots of clients  & users</span>
                                        </div>
                                        <ul>
                                            <li>2,500 SKU’s</li>
                                            <li>5 GB Storage</li>
                                            <li>1,5% transaction fee</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="price_col_foot">
                                    <div class="sign_up"><a href="#" class="btn btn-large"><span>Subscribe</span></a></div>
                                </div>
                            </div>
                        </div>
                        <!--/ pricing-item -->
                    </li>

                    <li class="price_col price_col_blue col-sm-4">
                        <!--pricing item-->
                        <div class="price_item">
                            <div class="badge"></div>
                            <div class="inner">
                                <div class="price_col_head">
                                    <span class="price"><em>$ 499</em><span>per month</span></span>
                                </div>
                                <div class="price_col_body clearfix">
                                    <div class="price_body_inner">
                                        <div class="price_body_top">
                                            <strong>Unlimited</strong>
                                            <span>Lots of clients &amp; users</span>
                                        </div>
                                        <ul>
                                            <li>2,500 SKU’s</li>
                                            <li>5 GB Storage</li>
                                            <li>1,5% transaction fee</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="price_col_foot">
                                    <div class="sign_up"><a href="#" class="btn btn-large btn-black"><span>Try Now</span></a></div>
                                </div>
                            </div>
                        </div>
                        <!--/ pricing-item -->
                    </li>

                </ul>
            </div>
            <!--/ pricing2-->

		</div>
		<!--/content-->
	</div>
	<!--/container-->
</div>
</body>
</html>