<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="author" content="ThemeFuse">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Chubby Stacks | Pricing</title>

<!-- main JS libs  -->
<script src="js/libs/modernizr.min.js"></script>
<script src="js/libs/jquery-1.10.2.min.js"></script>

<!-- Style LESS -->
<link href="style.less" media="screen" rel="stylesheet/less" type="text/css">

<!-- LESS.JS -->
<script src="js/libs/less.js"></script>

<!-- General Scripts -->
<script src="js/general.js"></script>

<!--[if lt IE 9]><script src="js/respond.min.js"></script><![endif]-->
<!--[if gte IE 9]>
<style type="text/css">
    .gradient {filter: none !important;}
</style>
<![endif]-->
</head>

<body>
<div class="body-wrap">
	<!--container-->
	<div class="container">
		<!--content-->
		<div class="content " role="main">

			<div class="row"><div class="col-sm-12"><h6 class="foo">Services without background</h6></div></div>
			
			<!-- .service list-->
			<div class="service_list service_list_1">
				<!-- .row-->
				<div class="row">
					<!--service item-->
					<div class="col-sm-5">
						<div class="service_item">
							<div class="service_img"><img src="images/icons/service-icon-1.png" width="82" height="59" alt="" /></div>
							<div class="service_title"><h3>eCommerce & Shops</h3></div>
							<div class="service_desc">
								<p>We run the latest version of PHP5 and MySQL 5. We support Perl, Ruby on Rails, Python, SSI, Curl and GD. Contact us about running any other with your members and visitors.</p>
							</div>
							<div class="service_meta_bot">
                                <a href="#" class="btn btn-small btn-caps"><span>Read More</span></a>
                                <a href="#" class="btn btn-small btn-caps btn-white"><span>Contact Us</span></a>
                            </div>
						</div>
					</div>
					<!--/service item-->

					<!--service item-->
					<div class="col-sm-5 col-sm-offset-1">
						<div class="service_item">
							<div class="service_img"><img src="images/icons/service-icon-2.png" width="82" height="63" alt="" /></div>
							<div class="service_title"><h3>Location Tracking</h3></div>
							<div class="service_desc">
								<p>With the Live Support Chat app, you can engage directly with your members and visitors and be available for them to contact you in real-time. A simple and elegant solution.</p>
							</div>
                            <div class="service_meta_bot">
                                <a href="#" class="btn btn-small btn-caps"><span>Read More</span></a>
                                <a href="#" class="btn btn-small btn-caps btn-white"><span>Contact Us</span></a>
                            </div>
						</div>
					</div>
					<!--/service item-->
				</div>
				<!--/ .row-->

				<!-- .row-->
				<div class="row">
					<!--service item-->
					<div class="col-sm-5">
						<div class="service_item">
							<div class="service_img"><img src="images/icons/service-icon-3.png" width="82" height="51" alt="" /></div>
							<div class="service_title"><h3>Statistical Analysis</h3></div>
							<div class="service_desc">
								<p>We have multiple hosting locations in the US and Europe. You can rest assured no matter where your target audience is, we are your hosting provider, world-wide, international!</p>
							</div>
                            <div class="service_meta_bot">
                                <a href="#" class="btn btn-small btn-caps"><span>Read More</span></a>
                                <a href="#" class="btn btn-small btn-caps btn-white"><span>Contact Us</span></a>
                            </div>
						</div>
					</div>
					<!--/service item-->

					<!--service item-->
					<div class="col-sm-5 col-sm-offset-1">
						<div class="service_item">
							<div class="service_img"><img src="images/icons/service-icon-4.png" width="82" height="65" alt="" /></div>
							<div class="service_title"><h3>Settings & Options</h3></div>
							<div class="service_desc">
								<p>Want to integrate your mail with another popular email system such as YMail, or Google Mail? No problem! We support IMAP, POP & SMTP, so you can route emails through.</p>
							</div>
                            <div class="service_meta_bot">
                                <a href="#" class="btn btn-small btn-caps"><span>Read More</span></a>
                                <a href="#" class="btn btn-small btn-caps btn-white"><span>Contact Us</span></a>
                            </div>
						</div>
					</div>
					<!--/service item-->
				</div>
				<!--/ .row-->

				<!-- .row-->
				<div class="row">
					<!--service item-->
					<div class="col-sm-5">
						<div class="service_item">
							<div class="service_img"><img src="images/icons/service-icon-5.png" width="82" height="60" alt="" /></div>
							<div class="service_title"><h3>Privacy Guaranteed</h3></div>
							<div class="service_desc">
								<p>We support both FTP and SFTP. So you can use your favourite FTP client on your computer to access your hosting. With customizable online and offline icons your.</p>
							</div>
                            <div class="service_meta_bot">
                                <a href="#" class="btn btn-small btn-caps"><span>Read More</span></a>
                                <a href="#" class="btn btn-small btn-caps btn-white"><span>Contact Us</span></a>
                            </div>
						</div>
					</div>
					<!--/service item-->

					<!--service item-->
					<div class="col-sm-5 col-sm-offset-1">
						<div class="service_item">
							<div class="service_img"><img src="images/icons/service-icon-6.png" width="82" height="51" alt="" /></div>
							<div class="service_title"><h3>Security Management</h3></div>
							<div class="service_desc">
								<p>Always know exactly how many people are visiting your website with a reliable Visitor Counter. Keep track of how many guests have been to your website on the go.</p>
							</div>
                            <div class="service_meta_bot">
                                <a href="#" class="btn btn-small btn-caps"><span>Read More</span></a>
                                <a href="#" class="btn btn-small btn-caps btn-white"><span>Contact Us</span></a>
                            </div>
						</div>
					</div>
					<!--/service item-->
				</div>
				<!--/ .row-->
			</div>
			<!--/ .service list-->

			<!-- .row-->
			<div class="row">
				<div class="col-sm-12">
					<h6 class="foo">Clients Box</h6>
					<!-- .clients box-->
					<div class="clients-box boxed">
						<div class="inner">
							<div class="ribbon style2"><span>BANNER TEXT READY TO EDIT</span></div>
							<div class="clients-list clearfix">
								<a class="client" href="#"><img src="images/temp/client-1.png" alt="" /></a>
								<a class="client" href="#"><img src="images/temp/client-2.png" alt="" /></a>
								<a class="client" href="#"><img src="images/temp/client-3.png" alt="" /></a>
								<a class="client" href="#"><img src="images/temp/client-4.png" alt="" /></a>
								<a class="client" href="#"><img src="images/temp/client-5.png" alt="" /></a>
								<a class="client" href="#"><img src="images/temp/client-6.png" alt="" /></a>
							</div>
						</div>
					</div>
					<!--/ .clients box-->
				</div>
			</div>
			<!--/ .row-->

			<!-- .row-->
			<div class="row">
				<div class="col-sm-12">
					<h6 class="foo">Services with background</h6>
					<!-- .service list-->
					<div class="service_list service_list_2 boxed">
						<div class="inner">
							<!-- .row level 2 -->
							<div class="row">
								<!--service item-->
								<div class="col-sm-6">
									<div class="service_item">
										<div class="service_img"><img src="images/icons/service-icon-1.png" width="82" height="59" alt="" /></div>
										<div class="service_title"><h3><a href="#">Cloud Management</a></h3></div>
										<div class="service_desc">
											<p>We run the latest version of PHP5 and MySQL 5. We support Perl, Ruby on Rails, Python, SSI, Curl and GD. Contact us about running any other.</p>
										</div>
										<div class="service_meta_bot"><a href="#" class="btn btn-hover"><span>Learn More</span></a></div>
									</div>
								</div>
								<!--/service item-->

								<!--service item-->
								<div class="col-sm-6">
									<div class="service_item">
										<div class="service_img"><img src="images/icons/service-icon-2.png" width="82" height="63" alt="" /></div>
										<div class="service_title"><h3><a href="#">LIVE CHAT SUPPORT</a></h3></div>
										<div class="service_desc">
											<p>With the Live Support Chat app, you can engage directly with your members and visitors and be available for them to contact you in real-time. A simple and elegant solution.</p>
										</div>
										<div class="service_meta_bot"><a href="#" class="btn btn-hover"><span>Learn More</span></a></div>
									</div>
								</div>
								<!--/service item-->
							</div>
							<!--/ .row level 2 -->

							<!-- .row level 2 -->
							<div class="row">
								<!--service item-->
								<div class="col-sm-6">
									<div class="service_item">
										<div class="service_img"><img src="images/icons/service-icon-3.png" width="82" height="51" alt="" /></div>
										<div class="service_title"><h3><a href="#">WORLDWIDE LOCATIONS</a></h3></div>
										<div class="service_desc">
											<p>We have multiple hosting locations in the US and Europe. You can rest assured no matter where your target audience is, we are your hosting provider, world-wide, international!</p>
										</div>
										<div class="service_meta_bot"><a href="#" class="btn btn-hover"><span>Learn More</span></a></div>
									</div>
								</div>
								<!--/service item-->

								<!--service item-->
								<div class="col-sm-6">
									<div class="service_item">
										<div class="service_img"><img src="images/icons/service-icon-4.png" width="82" height="65" alt="" /></div>
										<div class="service_title"><h3><a href="#">IMAP / POP / SMTP EMAIL</a></h3></div>
										<div class="service_desc">
											<p>Want to integrate your mail with another popular email system such as YMail, or Google Mail? No problem! We support IMAP, POP & SMTP, so you can route emails through other programs..</p>
										</div>
										<div class="service_meta_bot"><a href="#" class="btn btn-hover"><span>Learn More</span></a></div>
									</div>
								</div>
								<!--/service item-->
							</div>
							<!--/ .row level 2 -->

							<!-- .row level 2 -->
							<div class="row">
								<!--service item-->
								<div class="col-sm-6">
									<div class="service_item">
										<div class="service_img"><img src="images/icons/service-icon-5.png" width="82" height="60" alt="" /></div>
										<div class="service_title"><h3><a href="#">99.9% UPTIME GUARANTEED</a></h3></div>
										<div class="service_desc">
											<p>We support both FTP and SFTP. So you can use your favourite FTP client on your computer to access your hosting. With customizable online and offline icons your.</p>
										</div>
										<div class="service_meta_bot"><a href="#" class="btn btn-hover"><span>Learn More</span></a></div>
									</div>
								</div>
								<!--/service item-->

								<!--service item-->
								<div class="col-sm-6">
									<div class="service_item">
										<div class="service_img"><img src="images/icons/service-icon-6.png" width="82" height="51" alt="" /></div>
										<div class="service_title"><h3><a href="#">Traffic Counter</a></h3></div>
										<div class="service_desc">
											<p>Always know exactly how many people are visiting your website with a reliable Visitor Counter. Keep track of how many guests have been to your website on the go.</p>
										</div>
										<div class="service_meta_bot"><a href="#" class="btn btn-hover"><span>Learn More</span></a></div>
									</div>
								</div>
								<!--/service item-->
							</div>
							<!--/ .row level 2 -->
						</div>
					</div>
					<!--/ .service list-->
				</div>
			</div>
			<!--/ .row-->

			<div class="row"><div class="col-sm-12"><h6 class="foo">3 column services</h6></div></div>
			<!-- .service list-->
			<div class="service_list service_list_3">
				<!-- .row-->
				<div class="row">
					<!--service item-->
					<div class="col-sm-4">
						<div class="service_item">
							<div class="service_img"><img src="images/icons/service-icon-7.png" width="71" height="104" alt="" /></div>
							<div class="service_title"><h3>Web Design</h3></div>
							<div class="service_desc">
								<p>Our web servers are all connected to these 100 MB ports, which is then connected to the datacentre backbone, capable of up to the cool 90 Gb per second bandwidth!</p>
							</div>
							<div class="service_meta_bot"><a href="#" class="btn btn-caps"><span>Read More</span></a></div>
						</div>
					</div>
					<!--/service item-->

					<!--service item-->
					<div class="col-sm-4">
						<div class="service_item">
							<div class="service_img"><img src="images/icons/service-icon-8.png" width="83" height="83" alt="" /></div>
							<div class="service_title"><h3>Search Optimization</h3></div>
							<div class="service_desc">
								<p>In addition to high physical security, all servers are protected with UPS and backup generators, you just can't beat affordable peace of mind lorem ipsum dolor sit amet!</p>
							</div>
							<div class="service_meta_bot"><a href="#" class="btn btn-caps"><span>Read More</span></a></div>
						</div>
					</div>
					<!--/service item-->

					<!--service item-->
					<div class="col-sm-4">
						<div class="service_item">
							<div class="service_img"><img src="images/icons/service-icon-9.png" width="100" height="93" alt="" /></div>
							<div class="service_title"><h3>Consultancy</h3></div>
							<div class="service_desc">
								<p>All our accounts come with Softaculous Premium allowing you to install popular software such as Wordpress, Drupal, Joolma and Magento in one easy step.</p>
							</div>
							<div class="service_meta_bot"><a href="#" class="btn btn-caps"><span>Read More</span></a></div>
						</div>
					</div>
					<!--/service item-->
				</div>
				<!--/ .row-->
			</div>
			<!--/ .service list-->

			<div class="row"><div class="col-sm-12"><h6 class="foo">3 column services</h6></div></div>
			<!-- .service list-->
			<div class="service_list service_list_4">
				<!-- .row-->
				<div class="row">
					<!--service item-->
					<div class="col-sm-4">
						<div class="service_item boxed">
							<div class="inner">
								<div class="service_img"><img src="images/icons/service-icon-10.png" width="95" height="116" alt="" /></div>
								<div class="service_title"><h3>Save The Forest</h3></div>
								<div class="service_desc">
									<p>Our web servers are all connected to these 100 MB ports, which is then connected to the datacentre backbone, capable of up to the cool 90 Gb per second bandwidth!</p>
								</div>
								<div class="service_meta_bot"><a href="#" class="btn btn-caps"><span>FIND OUT More</span></a></div>
							</div>
						</div>
					</div>
					<!--/service item-->

					<!--service item-->
					<div class="col-sm-4">
						<div class="service_item boxed">
							<div class="inner">
								<div class="service_img"><img src="images/icons/service-icon-11.png" width="79" height="119" alt="" /></div>
								<div class="service_title"><h3>Ballon Rides</h3></div>
								<div class="service_desc">
									<p>In addition to high physical security, all servers are protected with UPS and backup generators, you just can't beat affordable peace of mind lorem ipsum dolor sit amet!</p>
								</div>
								<div class="service_meta_bot"><a href="#" class="btn btn-caps"><span>FIND OUT More</span></a></div>
							</div>
						</div>
					</div>
					<!--/service item-->

					<!--service item-->
					<div class="col-sm-4">
						<div class="service_item boxed">
							<div class="inner">
								<div class="service_img"><img src="images/icons/service-icon-12.png" width="110" height="117" alt="" /></div>
								<div class="service_title"><h3>Enterprise Solutions</h3></div>
								<div class="service_desc">
									<p>All our accounts come with Softaculous Premium allowing you to install popular software such as Wordpress, Drupal, Joolma and Magento in one easy step. In addition to high physical</p>
								</div>
								<div class="service_meta_bot"><a href="#" class="btn btn-caps"><span>FIND OUT More</span></a></div>
							</div>
						</div>
					</div>
					<!--/service item-->
				</div>
				<!--/ .row-->
			</div>
			<!--/ .service list-->

            <!-- .row-->
            <div class="row">
                <div class="col-sm-12">
                    <h6 class="foo">Middle 3 products pricing</h6>
                    <!-- pricing1-->
                    <div class="pricing_box price_style1 clearfix">
                        <ul>
                            <li class="price_col price_col_yellow">
                                <!--pricing item-->
                                <div class="price_item">
                                    <div class="inner">
                                        <div class="badge badge-popular"></div>
                                        <div class="price_col_head">
                                            <span class="price"><em>$</em>99<sup>99</sup><span>/month</span></span>
                                        </div>
                                        <div class="price_col_body clearfix">
                                            <div class="price_body_inner">
                                                <div class="price_body_top">
                                                    <strong>Basic</strong>
                                                    <span>All important futures for work</span>
                                                </div>
                                                <ul>
                                                    <li>250 SKU’s</li>
                                                    <li>1 GB Storage</li>
                                                    <li>3,5% transaction fee</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="price_col_foot">
                                            <div class="sign_up"><a href="#" class="btn btn-gray"><span>Try a Week</span></a></div>
                                        </div>
                                    </div>
                                </div>
                                <!--/ pricing-item -->
                            </li>

                            <li class="price_col col_active">
                                <!--pricing item-->
                                <div class="price_item">
                                    <div class="inner">
                                        <div class="badge badge-popular"></div>
                                        <div class="price_col_head">
                                            <span class="price"><em>$</em>299<sup>99</sup><span>/month</span></span>
                                        </div>
                                        <div class="price_col_body clearfix">
                                            <div class="price_body_inner">
                                                <div class="price_body_top">
                                                    <strong>Premium</strong>
                                                    <span>Lots of clients &amp; users</span>
                                                </div>
                                                <ul>
                                                    <li>2,500 SKU’s</li>
                                                    <li>5 GB Storage</li>
                                                    <li>1,5% transaction fee</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="price_col_foot">
                                            <div class="sign_up"><a href="#" class="btn btn-large btn-caps"><span>Buy Now</span></a></div>
                                        </div>
                                    </div>
                                </div>
                                <!--/ pricing-item -->
                            </li>

                            <li class="price_col price_col_purple">
                                <!--pricing item-->
                                <div class="price_item">
                                    <div class="badge badge-popular"></div>
                                    <div class="inner">
                                        <div class="price_col_head">
                                            <span class="price"><em>$</em>499<sup>99</sup><span>/month</span></span>
                                        </div>
                                        <div class="price_col_body clearfix">
                                            <div class="price_body_inner">
                                                <div class="price_body_top">
                                                    <strong>Ultimate</strong>
                                                    <span>All important futures for work</span>
                                                </div>
                                                <ul>
                                                    <li>Unlimited SKU’s</li>
                                                    <li>20 GB Storage</li>
                                                    <li>1% transaction fee</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="price_col_foot">
                                            <div class="sign_up"><a href="#" class="btn btn-gray"><span>Subscribe Now</span></a></div>
                                        </div>
                                    </div>
                                </div>
                                <!--/ pricing-item -->
                            </li>
                        </ul>
                    </div>
                    <!--/ pricing1-->
                </div>
            </div>
            <!--/ .row-->

            <div class="row"><div class="col-sm-12"><h6 class="foo">Full Width 4 products pricing</h6></div></div>
            <!-- pricing2-->
            <div class="pricing_box price_style2 clearfix">
                <ul class="row">
                    <li class="price_col price_col_yellow col-sm-3">
                        <!--pricing item-->
                        <div class="price_item">
                            <div class="badge"></div>
                            <div class="inner">
                                <div class="price_col_head">
                                    <span class="price"><em>$</em>2<sup>99</sup><span>month</span></span>
                                </div>
                                <div class="price_col_body clearfix">
                                    <div class="price_body_inner">
                                        <div class="price_body_top">
                                            <strong>Basic</strong>
                                            <span>Lots of clients &amp; users</span>
                                        </div>
                                        <ul>
                                            <li>2,500 SKU’s</li>
                                            <li>5 GB Storage</li>
                                            <li>1,5% transaction fee</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="price_col_foot">
                                    <div class="sign_up"><a href="#" class="btn btn-gray"><span>Try a Week</span></a></div>
                                </div>
                            </div>
                        </div>
                        <!--/ pricing-item -->
                    </li>

                    <li class="price_col price_col_green col_active col-sm-3">
                        <!--pricing item-->
                        <div class="price_item">
                            <div class="badge"></div>
                            <div class="inner">
                                <div class="price_col_head">
                                    <span class="price"><em>$</em>4<sup>99</sup><span>month</span></span>
                                </div>
                                <div class="price_col_body clearfix">
                                    <div class="price_body_inner">
                                        <div class="price_body_top">
                                            <strong>Medium</strong>
                                            <span>Lots of clients &amp; users</span>
                                        </div>
                                        <ul>
                                            <li>2,500 SKU’s</li>
                                            <li>5 GB Storage</li>
                                            <li>1,5% transaction fee</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="price_col_foot">
                                    <div class="sign_up"><a href="#" class="btn btn-caps"><span>Buy Now</span></a></div>
                                </div>
                            </div>
                        </div>
                        <!--/ pricing-item -->
                    </li>

                    <li class="price_col price_col_blue col-sm-3">
                        <!--pricing item-->
                        <div class="price_item">
                            <div class="badge"></div>
                            <div class="inner">
                                <div class="price_col_head">
                                    <span class="price"><em>$</em>7<sup>99</sup><span>month</span></span>
                                </div>
                                <div class="price_col_body clearfix">
                                    <div class="price_body_inner">
                                        <div class="price_body_top">
                                            <strong>Premium</strong>
                                            <span>Lots of clients &amp; users</span>
                                        </div>
                                        <ul>
                                            <li>2,500 SKU’s</li>
                                            <li>5 GB Storage</li>
                                            <li>1,5% transaction fee</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="price_col_foot">
                                    <div class="sign_up"><a href="#" class="btn btn-gray"><span>Try a Week</span></a></div>
                                </div>
                            </div>
                        </div>
                        <!--/ pricing-item -->
                    </li>

                    <li class="price_col price_col_purple col-sm-3">
                        <!--pricing item-->
                        <div class="price_item">
                            <div class="badge"></div>
                            <div class="inner">
                                <div class="price_col_head">
                                    <span class="price"><em>$</em>9<sup>99</sup><span>month</span></span>
                                </div>
                                <div class="price_col_body clearfix">
                                    <div class="price_body_inner">
                                        <div class="price_body_top">
                                            <strong>Ultimate</strong>
                                            <span>Lots of clients &amp; users</span>
                                        </div>
                                        <ul>
                                            <li>2,500 SKU’s</li>
                                            <li>5 GB Storage</li>
                                            <li>1,5% transaction fee</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="price_col_foot">
                                    <div class="sign_up"><a href="#" class="btn btn-gray"><span>Try a Week</span></a></div>
                                </div>
                            </div>
                        </div>
                        <!--/ pricing-item -->
                    </li>
                </ul>
            </div>
            <!--/ pricing2-->

            <div class="row"><div class="col-sm-12"><h6 class="foo">Full Width 4 products pricing</h6></div></div>
            <!-- pricing3-->
            <div class="pricing_box price_style3 clearfix">
                <ul class="row">
                    <li class="price_col price_col_yellow col-sm-3">
                        <!--pricing item-->
                        <div class="price_item">
                            <div class="badge"></div>
                            <div class="inner">
                                <div class="price_col_head">
                                    <strong>Starter</strong>
                                </div>
                                <div class="price_col_body clearfix">
                                    <div class="price_body_inner">
                                        <div class="price_body_top">
                                            <div class="price">$<span>14</span><sup>.99</sup>/mo.</div>
                                        </div>
                                        <ul>
                                            <li><span>10GB</span> Storage Space</li>
                                            <li><span>50GB</span> Monthly Bandwidth</li>
                                            <li><span>10 Free</span> Sub-Domains</li>
                                            <li><span>250</span> E-mail Accounts</li>
                                            <li>Control Panel & FTP</li>
                                            <li>No Shared 128bit SSL</li>
                                        </ul>
                                        <div class="price_body_bottom">
                                            <strong>Best for:</strong> Start-ups, Blogs
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="price_col_foot">
                                <div class="sign_up"><a href="#" class="btn btn-gray"><span>Try a Week</span></a></div>
                            </div>
                        </div>
                        <!--/ pricing-item -->
                    </li>

                    <li class="price_col col_active price_col_green col-sm-3">
                        <!--pricing item-->
                        <div class="price_item">
                            <div class="badge"></div>
                            <div class="inner">
                                <div class="price_col_head">
                                    <strong>Advanced</strong>
                                </div>
                                <div class="price_col_body clearfix">
                                    <div class="price_body_inner">
                                        <div class="price_body_top">
                                            <div class="price">$<span>24</span><sup>.99</sup>/mo.</div>
                                        </div>
                                        <ul>
                                            <li><span>250GB</span> Storage Space</li>
                                            <li><span>20,000GB</span> Monthly Bandwidth</li>
                                            <li><span>30 Free</span> Sub-Domains</li>
                                            <li><span>500</span> E-mail Accounts</li>
                                            <li>Control Panel & FTP</li>
                                            <li>Shared 128bit SSL</li>
                                        </ul>
                                        <div class="price_body_bottom">
                                            <strong>Best for:</strong> Small Businesses
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="price_col_foot">
                                <div class="sign_up"><a href="#" class="btn btn-caps"><span>Buy Now</span></a></div>
                            </div>
                        </div>
                        <!--/ pricing-item -->
                    </li>

                    <li class="price_col price_col_blue col-sm-3">
                        <!--pricing item-->
                        <div class="price_item">
                            <div class="badge"></div>
                            <div class="inner">
                                <div class="price_col_head">
                                    <strong>Professional</strong>
                                </div>
                                <div class="price_col_body clearfix">
                                    <div class="price_body_inner">
                                        <div class="price_body_top">
                                            <div class="price">$<span>89</span><sup>.99</sup>/mo.</div>
                                        </div>
                                        <ul>
                                            <li><span>500GB</span> Storage Space</li>
                                            <li><span>40,000GB</span> Monthly Bandwidth</li>
                                            <li><span>50 Free</span> Sub-Domains</li>
                                            <li><span>Unlimited</span> E-mail Accounts</li>
                                            <li>Control Panel & FTP</li>
                                            <li>Shared 128bit SSL</li>
                                        </ul>
                                        <div class="price_body_bottom">
                                            <strong>Best for:</strong> Resellers, Devs
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="price_col_foot">
                                <div class="sign_up"><a href="#" class="btn btn-gray"><span>Try a Week</span></a></div>
                            </div>
                        </div>
                        <!--/ pricing-item -->
                    </li>

                    <li class="price_col price_col_purple col-sm-3">
                        <!--pricing item-->
                        <div class="price_item">
                            <div class="badge"></div>
                            <div class="inner">
                                <div class="price_col_head">
                                    <strong>Business</strong>

                                </div>
                                <div class="price_col_body clearfix">
                                    <div class="price_body_inner">
                                        <div class="price_body_top">
                                            <div class="price">$<span>139</span><sup>.99</sup>/mo.</div>
                                        </div>
                                        <ul>
                                            <li><span>Unlimited</span> Storage Space</li>
                                            <li><span>Unlimited</span> Monthly Bandwidth</li>
                                            <li><span>Unlimited</span> Sub-Domains</li>
                                            <li><span>Unlimited</span> E-mail Accounts</li>
                                            <li>Control Panel & FTP</li>
                                            <li>Shared 128bit SSL</li>
                                        </ul>
                                        <div class="price_body_bottom">
                                            <strong>Best for:</strong> Big Projects
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="price_col_foot">
                                <div class="sign_up"><a href="#" class="btn btn-gray"><span>Try a Week</span></a></div>
                            </div>
                        </div>
                        <!--/ pricing-item -->
                    </li>
                </ul>
            </div>
            <!--/ pricing3-->
		</div>
		<!--/content-->
	</div>
	<!--/container-->
</div>
</body>
</html>