<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="author" content="ThemeFuse">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Vanilla Cream | Blog</title>

<!-- main JS libs  -->
<script src="js/libs/modernizr.min.js"></script>
<script src="js/libs/jquery-1.10.0.js"></script>
<script src="js/libs/jquery-ui.min.js"></script>
<script src="js/libs/bootstrap.min.js"></script>

<!-- Style CSS-->
<link href="style.less" media="screen" rel="stylesheet/less" type="text/css">

<!-- scripts  -->
<script src="js/general.js"></script>
<!-- custom input -->
<script src="js/jquery.customInput.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<!-- Placeholders -->
<script type="text/javascript" src="js/jquery.powerful-placeholder.min.js"></script>
<!-- Calendar -->
<script src="js/jquery-ui.multidatespicker.js"></script>
<!-- Volume, Balance -->
<script type="text/javascript" src="js/knobRot-0.2.2.js"></script>
<!-- Video Player  -->
<script src="js/video.js"></script>
<!-- Audio Player  -->
<script src="js/jquery.jplayer.min.js"></script>
<script src="js/jplayer.playlist.min.js"></script>
<script type="text/javascript">
	//<![CDATA[
	$(document).ready(function(){

		new jPlayerPlaylist({
			jPlayer: "#jquery_jplayer_1",
			cssSelectorAncestor: "#jp_container_1"
		}, [
			{
				title:"",
                mp3:"http://www.jplayer.org/audio/mp3/TSP-05-Your_face.mp3",
                oga:"http://www.jplayer.org/audio/ogg/TSP-05-Your_face.ogg"
			},
			{
				title:"",
                mp3:"http://www.jplayer.org/audio/mp3/TSP-07-Cybersonnet.mp3",
                oga:"http://www.jplayer.org/audio/ogg/TSP-07-Cybersonnet.ogg"
			},
			{
				title:"",
                mp3:"http://www.jplayer.org/audio/mp3/Miaow-07-Bubble.mp3",
                oga:"http://www.jplayer.org/audio/ogg/Miaow-07-Bubble.ogg"
			}
		], {
			swfPath: "js",
			supplied: "oga, mp3",
			wmode: "window",
			smoothPlayBar: false,
			keyEnabled: false
		});
	});
	//]]>
</script>

<!-- CarouFredSel -->
<script src="js/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script>
        jQuery(document).ready(function($) {
            $('#categories').carouFredSel({
                next : "#categories-next",
                prev : "#categories-prev",
                direction: 'up',
                auto: false,
                circular: false,
                infinite: false,
                scroll: {items : 1},
                items: {visible : 7}
            });
            $(window).resize(function() {
                $('#categories').carouFredSel({
                    next : "#categories-next",
                    prev : "#categories-prev",
                    direction: 'up',
                    auto: false,
                    circular: false,
                    infinite: false,
                    scroll: {items : 1},
                    items: {visible : 7}
                });
            })
        });
    </script>

<!-- LESS -->
<script src="js/libs/less.js"></script>

<!--[if lt IE 9]><script src="js/respond.min.js"></script><![endif]-->
<!--[if gte IE 9]>
<style type="text/css">
    .gradient {filter: none !important;}
</style>
<![endif]-->
</head>

<body>
	<div class="container">

		<!-- row-->
		<div class="row">
			<div class="col-sm-8">
				<!-- content-->
				<div class="content " role="main">

					<!-- post list -->
					<div class="postlist">

						<h6 class="foo">Blog post entry</h6>
						<!-- post item-->
						<div class="post-item">
							<div class="inner">
								<div class="post-title"><h2><a href="#">UP fan takes to the skies in a house by tying hundreds of balloons to it …</a></h2></div>
								<div class="post-meta-top">
										<span class="post-date">september 5th, 2012</span>
										<span class="post-author">Johnathan Doe</span>
								</div>
								<div class="post-image"><img src="images/temp/post_img1.jpg" alt=""></div>
								<div class="post-desc">
									<p>A cluster-balloonist who became the first person to fly the English Channel has launched a house into the sky just like in the Disney movie 'Up'. Intrepid Jonathan Trappe, 38, took off just like the 78-year-old character Carl Frederickson in the hit movie. Trappe has invested $170,000 into his Atlantic dream, for which he's been training his whole career, and now he's launching a site so ordinary people can play.</p>
								</div>
								<div class="post-meta-bot post-meta-links">
                                    <div class="input_styled checklist">
                                        <div class="rowCheckbox checkbox-large">
                                            <input name="showComments" type="checkbox" checked id="showComments" value="showComments">
                                            <label for="showComments">Comments On:</label>
                                        </div>
                                    </div>
                                    <a href="#" class="btn"><span>Read more</span></a>
									<a href="#" class="btn btn-white"><span>14 Comments</span></a>
								</div>
							</div>
						</div>
						<!--/post item-->

						<h6 class="foo">Blog post entry with background</h6>
						<!-- post item-->
						<div class="post-item boxed style2">
							<div class="inner">
								<div class="post-image"><img src="images/temp/post_img2.jpg" alt=""></div>
								<div class="post-title"><h2><a href="#">Finding Nemo: Director signs up for</a></h2></div>
								<div class="post-meta-top">
									<span class="post-date">July 24TH, 2013</span>
									<span class="post-author">Johnathan Doe</span>
								</div>
								<div class="post-desc">
									<p>The announcement marks the latest in a long line of sequels for film studio Pixar, which was once renowned for its original stories. Starring the voice talent of Albert Brooks as Marlin, and talk show host Ellen DeGeneres as his goofy, forgetful companion Dory, it made $867.8m (£555m) when it was released in 2003.</p>
								</div>
								<div class="post-meta-bot post-meta-links">
                                    <div class="links">
                                        <a href="#" class="btn"><span>Read more</span></a>
                                        <a href="#" class="btn btn-white"><span>14 Comments</span></a>
                                    </div>
                                    <div class="tagcloud style2">
                                        <a href="#" class="tag-link-1" title="2 topics"><span>Pattern</span></a>
                                        <a href="#" class="tag-link-2" title="3 topics"><span>Magazine</span></a>
                                    </div>
								</div>
							</div>
						</div>
						<!--/post item-->

						<h6 class="foo">Blog post entry with image on the left</h6>
						<!-- post item-->
						<div class="post-item style3 clearfix">
							<div class="inner">
								<div class="post-title"><h2><a href="#">Exhibition gives young Travellers a voice</a></h2></div>
								<div class="post-meta-top">
									<span class="post-date">september 5th, 2012</span>
									<span class="post-author">Johnathan Doe</span>
								</div>
								<div class="post-image"><img src="images/temp/post_img3.jpg" alt=""></div>
								<div class="post-desc">
									<p>Sandra Bruce, equalities strategist at Aberdeen City Council said: "Some of the key areas of debate around Gypsy Travellers are about halting sites, unauthorised encampments and associated environmental issues and the legal status of Gypsy/Travellers. The City Council actively promotes the need to eliminate discrimination and to encourage equality and this exhibition is an example of a pro-active approach to inform.</p>
								</div>
								<div class="post-meta-bot post-meta-links">
									<a href="#" class="btn"><span>Read more</span></a>
									<a href="#" class="btn btn-white"><span>14 Comments</span></a>
								</div>
							</div>
						</div>
						<!--/post item-->

						<h6 class="foo">Blog post entry with image on the right</h6>
						<!-- post item-->
						<div class="post-item boxed style4 clearfix">
							<div class="inner">
								<div class="post-title"><h2><a href="#">Star Wars job goes to Toy Story 3 writer</a></h2></div>
								<div class="post-meta-top">
									<span class="post-date">september 5th, 2012</span>
									<span class="post-author">Johnathan Doe</span>
								</div>
								<div class="post-image"><img src="images/temp/post_img4.jpg" alt=""></div>
								<div class="post-desc">
									<p>Arndt won an Oscar for best original screenplay for the 2006 comedy Little Miss Sunshine. His screenplay for Toy Story 3 was nominated for best adapted screenplay in 2010.</p>
									<p>Ford's Hollywood star rose with his appearances in the three Star Wars film, which he followed up with his role as archaeologist adventurer Indiana Jones and films including with The Fugitive and his Oscar-nominated turn in Witness. However, there actors Mark Hamill and Carrie Fisher in older incarnations of their characters - Luke Skywalker and Princess Leia - from the original Star Wars trilogy. Harrison Ford, who played space smuggler Han Solo, is also reported to be interested in reprising his role.</p>
								</div>
								<div class="post-meta-bot post-meta-links">
									<a href="#" class="btn"><span>Read more</span></a>
									<a href="#" class="btn btn-white"><span>14 Comments</span></a>
								</div>
							</div>
						</div>
						<!--/post item-->

						<h6 class="foo">Quote blog entry</h6>
						<!-- post item-->
						<div class="post-item post-quote boxed">
                            <span class="post-label"></span>
                            <div class="inner">
								<div class="post-title"><h2><a href="#">There is only one boss. The customer. And he can fire everybody in the company from the chairman on down, simply by spending his money</a></h2></div>
								<div class="post-meta-top">
									<span class="post-date">september 5th, 2013</span>
									<span class="post-author">Sam Walton</span>
								</div>
								<div class="post-meta-bot post-meta-links"></div>
							</div>
						</div>
						<!--/post item-->

						<h6 class="foo">Image blog entry</h6>
						<!-- post item images -->
						<div class="post-item post-img boxed">
                            <span class="post-label label-image"></span>
                            <div class="inner">
								<div class="post-title"><h2><a href="#">Awesome Illustrations by Viet-My Bui, a Designer from Vietnam.</a></h2></div>
								<div class="post-meta-top">
									<span class="post-date">september 5th, 2013</span>
									<span class="post-author">Viet-My Bui</span>
								</div>
								<div class="post-meta-bot">
									<div class="post-carousel">
										<div id="myCarousel" class="carousel slide" data-interval="20000">
											<!-- Carousel items -->
											<div class="carousel-inner">
												<div class="active item"><img src="images/temp/post_img5.jpg" alt="" /></div>
												<div class="item"><img src="images/temp/post_img1.jpg" alt="" /></div>
												<div class="item"><img src="images/temp/post_img2.jpg" alt="" /></div>
											</div>
											<!-- Carousel indicators -->
											<ol class="carousel-indicators">
												<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
												<li data-target="#myCarousel" data-slide-to="1"></li>
												<li data-target="#myCarousel" data-slide-to="2"></li>
											</ol>
											<!-- Carousel nav -->
											<a class="carousel-control left" href="#myCarousel" data-slide="prev"></a>
											<a class="carousel-control right" href="#myCarousel" data-slide="next"></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--/post item images -->

						<h6 class="foo">Video blog entry</h6>
						<!-- post item video -->
						<div class="post-item post-video boxed">
                            <span class="post-label label-video"></span>
                            <div class="inner">
								<div class="post-image">
									<video id="my_video_1" class="video-js" controls loop
									       preload="auto" poster="images/temp/vjs_poster.png"
									       data-setup="{}">
										<source src="http://test.themefuse.com/artiom/galapagos.mp4" type='video/mp4'>
									</video>
									<script>
										_V_("my_video_1").ready(function(){
											var myPlayer = this;
											var aspectRatio = 300/500;
											var width = document.getElementById(myPlayer.id).parentElement.offsetWidth;
											myPlayer.width(width).height( width * aspectRatio );

											function resizeVideoJS(){
												var width = document.getElementById(myPlayer.id).parentElement.offsetWidth;
												myPlayer.width(width).height( width * aspectRatio );
											}
											resizeVideoJS();
											window.onresize = resizeVideoJS;
										});
									</script>
								</div>
								<div class="post-title"><h2><a href="#">Impressive Illustrations by Theo Prins, a Designer from the USA.</a></h2></div>
								<div class="post-meta-top">
									<span class="post-date">september 5th, 2013</span>
									<span class="post-author">Theo Prins</span>
								</div>
							</div>
						</div>
						<!--/post item video -->

						<h6 class="foo">Audio blog entry</h6>
						<!-- post item audio -->
						<div class="post-item post-audio boxed">
                            <span class="post-label label-audio"></span>
                            <div class="inner">
								<div class="post-title"><h2><a href="#">Listen the Latest Top 10 Hits</a></h2></div>
								<div class="post-meta-top">
									<span class="post-date">september 5th, 2013</span>
									<span class="post-author">John Doe</span>
								</div>
								<div class="post-image">
                                    <!-- Balance control -->
                                    <div class="widget-knob widget-balance">
                                        <input type="text" value="0" autocomplete="off" id="balance" />
                                        <script type="text/javascript">
                                            $(document).ready(function() {
                                                $('#balance').knobRot({
                                                    'classes': ['balance'],
                                                    'dragVertical': false,
                                                    'frameCount': 51,
                                                    'frameWidth': 87,
                                                    'frameHeight': 87,
                                                    'detent': true,
                                                    'detentThreshold': 2,
                                                    'minimumValue': -50,
                                                    'maximumValue': 50,
                                                    'hideInput': true
                                                });
                                            });
                                        </script>
                                        <span>Balance</span>
                                    </div>
                                    <!--/ Balance control -->

                                    <!-- Volume control -->
                                    <div class="widget-knob widget-volume">
                                        <input type="text" value="100"  autocomplete="off" id="volume" />
                                        <script type="text/javascript">
                                            $(document).ready(function() {
                                                $('#volume').knobRot({
                                                    'classes': ['volume'],
                                                    'dragVertical': false,
                                                    'frameCount': 45,
                                                    'frameWidth': 88,
                                                    'frameHeight': 88,
                                                    'detent': true,
                                                    'detentThreshold': 5,
                                                    'minimumValue': 0,
                                                    'maximumValue': 100,
                                                    'hideInput': true
                                                });

                                                var volume = $('#volume'),
                                                        player = $('#jquery_jplayer_1');
                                                volume.on('knobrefresh', function () {
                                                    player.jPlayer("option", "volume", volume.val() / 100);
                                                });
                                            });
                                        </script>
                                        <span>Volume</span>
                                    </div>
                                    <!--/ Volume control -->
								</div>
								<div class="post-meta-bot">
									<!-- jplayer-->
									<div id="jquery_jplayer_1" class="jp-jplayer"></div>
									<div id="jp_container_1" class="jp-audio">
										<div class="inner">
											<div class="jp-gui jp-interface">
												<div class="jp-progress">
													<div class="jp-seek-bar">
														<div class="jp-play-bar"></div>

													</div>
												</div>
												<ul class="jp-controls">
													<li><a href="javascript:;" class="jp-previous disabled" tabindex="1">previous</a></li>
													<li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
													<li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
													<li><a href="javascript:;" class="jp-next" tabindex="1">next</a></li>
													<li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
													<li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
													<li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
													<li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
												</ul>
												<div class="jp-volume-bar">
													<div class="jp-volume-bar-value"></div>
												</div>
												<div class="jp-current-time"></div>
												<div class="jp-duration"></div>
												<ul class="jp-toggles">
													<li><a href="javascript:;" class="jp-shuffle" tabindex="1" title="shuffle">shuffle</a></li>
													<li><a href="javascript:;" class="jp-shuffle-off" tabindex="1" title="shuffle off">shuffle off</a></li>
													<li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
													<li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
												</ul>
											</div>
											<div class="jp-playlist">
												<ul>
													<li></li>
												</ul>
											</div>
											<div class="jp-no-solution">
												<span>Update Required</span>
												To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
											</div>
										</div>
									</div>
									<!--/ jplayer-->
								</div>
							</div>
						</div>
						<!--/post item audio -->

					</div>
					<!--/ postlist-->
				</div>
				<!--/ content-->
		    </div>

			<div class="col-sm-4">
				<!-- sidebar-->
				<div class="sidebar">
					<h6 class="foo">Sidebars</h6>

					<!-- widget categories -->
					<div class="widget-container widget_categories boxed">
						<div class="inner">
							<ul id="categories">
								<li><a href="#"><i class="ico-cat ico-cat1"></i><span>Account Settings</span></a></li>
								<li><a href="#"><i class="ico-cat ico-cat2"></i><span>Go To Blog’s Home</span></a></li>
								<li><a href="#"><i class="ico-cat ico-cat3"></i><span>Most Popular Posts</span></a></li>
								<li><a href="#"><i class="ico-cat ico-cat4"></i><span>Blog Category Settings</span></a></li>
								<li><a href="#"><i class="ico-cat ico-cat5"></i><span>Most Commented Messages</span></a></li>
								<li><a href="#"><i class="ico-cat ico-cat6"></i><span>Active Сonversations</span></a></li>
								<li><a href="#"><i class="ico-cat ico-cat7"></i><span>View All Categories</span></a></li>
                                <li><a href="#"><i class="ico-cat ico-cat1"></i><span>Account Settings</span></a></li>
                                <li><a href="#"><i class="ico-cat ico-cat2"></i><span>Go To Blog’s Home</span></a></li>
                                <li><a href="#"><i class="ico-cat ico-cat3"></i><span>Most Popular Posts</span></a></li>
                                <li><a href="#"><i class="ico-cat ico-cat4"></i><span>Blog Category Settings</span></a></li>
                                <li class="current-menu-item"><a href="#"><i class="ico-cat ico-cat5"></i><span>Most Commented Messages</span></a></li>
                                <li><a href="#"><i class="ico-cat ico-cat6"></i><span>Active Сonversations</span></a></li>
                                <li><a href="#"><i class="ico-cat ico-cat7"></i><span>View All Categories</span></a></li>
							</ul>
                            <a id="categories-prev" class="prev" href="#">prev</a>
                            <a id="categories-next" class="next" href="#">next</a>
						</div>
					</div>
					<!--/widget categories-->

					<!-- latest stories -->
					<div class="widget-container widget_recent_entries boxed">
						<div class="inner">
							<h3 class="widget-title">Latest Stories</h3>
							<ul>
								<li class="clearfix">
									<a href="#" class="widget-thumb"><img src="images/temp/latest1.png" alt="" /></a>
									<a href="#" class="post-title">UP fan takes to the skies in a house by tying hundreds of balloons to it just like</a>
								</li>
								<li class="clearfix">
									<a href="#" class="widget-thumb"><img src="images/temp/latest2.png" alt="" /></a>
									<a href="#" class="post-title">Working in paradise is just murder! Ben Miller is on the case in</a>
								</li>
								<li class="clearfix">
									<a href="#" class="widget-thumb"><img src="images/temp/latest3.png" alt="" /></a>
									<a href="#" class="post-title">Mancini red rage! Kompany facing ban for 'nothing' fumes City</a>
								</li>
								<li class="clearfix">
									<a href="#" class="widget-thumb"><img src="images/temp/latest4.png" alt="" /></a>
									<a href="#" class="post-title">Adebayor set for Africa Cup of Nations as Togo chief overrules decision to</a>
								</li>
							</ul>
						</div>
					</div>
					<!--/latest stories -->

					<!-- latest comments-->
					<div class="widget-container widget_recent_comments boxed">
						<div class="inner">
							<h3 class="widget-title">Latest Comments</h3>
							<ul id="recentcomments">
								<li class="recentcomments clearfix">
									<a href="#" class="widget-thumb"><img src="images/temp/latest5.png" alt="" /></a>
									<span class="recent_comment"><a href="#" rel="external nofollow">Jonatan Doe: </a>UP fan takes to the skies in a house by tying hundreds of balloons</span>
								</li>
								<li class="recentcomments clearfix">
									<a href="#" class="widget-thumb"><img src="images/temp/latest6.png" alt="" /></a>
									<span class="recent_comment"><a href="#" rel="external nofollow">DimiB: </a>Working in paradise is just murder! Ben Miller is on the case in glorious</span>
								</li>
								<li class="recentcomments clearfix">
									<a href="#" class="widget-thumb"><img src="images/temp/latest7.png" alt="" /></a>
									<span class="recent_comment"><a href="#" rel="external nofollow">Alex Luncasu: </a>Mancini red rage! Kompany facing ban for 'nothing' fumes City</span>
								</li>
								<li class="recentcomments clearfix">
									<a href="#" class="widget-thumb"><img src="images/temp/latest8.png" alt="" /></a>
									<span class="recent_comment"><a href="#" rel="external nofollow">BogdanC: </a>Adebayor set for Africa Cup of Nations as Togo chief overrules deci-</span>
								</li>
							</ul>
						</div>
					</div>
					<!-- latest comments-->

					<!-- widget tags-->
					<div class="widget-container widget_tag_cloud boxed">
						<div class="inner">
							<h3 class="widget-title">Tags</h3>
							<div class="tagcloud">
								<a href="#" class="tag-link-1" title="2 topics"><span>Design</span></a>
								<a href="#" class="tag-link-2" title="3 topics"><span>Fashion Culture</span></a>
								<a href="#" class="tag-link-3" title="5 topics"><span>Electricity</span></a>
								<a href="#" class="tag-link-4" title="8 topics"><span>Kitchen</span></a>
								<a href="#" class="tag-link-5" title="9 topics"><span>Cinema</span></a>
								<a href="#" class="tag-link-6" title="3 topics"><span>Anniversaries</span></a>
								<a href="#" class="tag-link-7" title="6 topics"><span>Web</span></a>
								<a href="#" class="tag-link-8" title="8 topics"><span>Cooking</span></a>
								<a href="#" class="tag-link-9" title="9 topics"><span>Print</span></a>
							</div>
						</div>
					</div>
					<!--/ widget tags-->

					<!-- widget flickr-->
					<div class="widget-container flickr boxed clearfix">
						<div class="inner">
							<h3 class="widget-title">Flickr Photo Stream</h3>
							<div class="flickr-inner">
								<div class="flickr_badge_image"><a href="#"><img src="images/temp/latest1.png" alt="" /></a></div>
								<div class="flickr_badge_image"><a href="#"><img src="images/temp/latest2.png" alt="" /></a></div>
								<div class="flickr_badge_image"><a href="#"><img src="images/temp/latest3.png" alt="" /></a></div>
								<div class="flickr_badge_image"><a href="#"><img src="images/temp/latest4.png" alt="" /></a></div>
								<div class="flickr_badge_image"><a href="#"><img src="images/temp/latest5.png" alt="" /></a></div>
								<div class="flickr_badge_image"><a href="#"><img src="images/temp/latest6.png" alt="" /></a></div>
								<div class="flickr_badge_image"><a href="#"><img src="images/temp/latest7.png" alt="" /></a></div>
								<div class="flickr_badge_image"><a href="#"><img src="images/temp/latest8.png" alt="" /></a></div>
							</div>
						</div>
					</div>
					<!--/ widget flickr-->

					<!-- widget text-->
					<div class="widget-container widget_text boxed">
						<div class="inner">
							<h3 class="widget-title">Text widget</h3>
							<div class="textwidget">
								<p>Microsoft's debut of the Surface family of tablets wowed on several levels yesterday, not the least of which is the fact that Redmond will be moving into direct competition with some of the hardware partners it relied upon to</p>
							</div>
						</div>
					</div>
					<!-- /widget text-->

					<!-- widget calendar-->
					<div class="widget-container widget_calendar boxed">
						<div class="inner">
							<input type="text" name="date_departure" class="inputField" value="" id="date_departure">
							<script>
								// <![CDATA[
								jQuery(document).ready(function($) {
									var daysRange = 5;

									function assignCalendar(id){
										$('<div class="calendar" />')
												.insertAfter( $(id) )
												.multiDatesPicker({
													dateFormat: 'yy-mm-dd',
													minDate: new Date(),
													maxDate: '+1y',
													altField: id,
													firstDay: 1,
													showOtherMonths: true
												}).prev().hide();
									}

									assignCalendar('#date_departure');
								});
								// ]]>
							</script>
						</div>
					</div>
					<!--/ widget calendar-->

				</div>
				<!--/ sidebar-->
		    </div>
		</div>
		<!--/ row-->

		<!-- row-->
	    <div class="row">
		    <!-- content -->
		    <div class="content clearfix">

			    <div class="col-sm-12"><h6 class="foo">Popular blog entries</h6></div>
			    <!-- post list -->
			    <div class="postlist">

                    <div class="col-sm-4">
		                <!-- post item wide -->
		                <div class="post-item-wide">
			                <div class="inner">
				                <div class="post-image">
					                <img src="images/temp/post_img7.jpg" alt="" />
				                </div>
				                <div class="post_title">
					                <h2><a href="#">Ut Nulla Enim Thres Phasellus Portes</a></h2>
				                </div>
				                <div class="post-meta-top">
					                <span class="post-author">Daryl Toh Liem Zhan</span>
				                </div>
				                <div class="post-descr">
					                <p>The announcement marks the latest in a long line of sequels for film studio Pixar, which was once renowned for its original stories.</p>
				                </div>
				                <div class="post-meta-bot post-meta-links">
					                <a href="#" class="btn"><span>Read more</span></a>
					                <a href="#" class="btn btn-white"><span>12 Comments</span></a>
				                </div>
			                </div>
                        </div>
		                <!--/ post item wide -->
                    </div>

				    <div class="col-sm-4">
					    <!-- post item wide -->
					    <div class="post-item-wide">
						    <div class="inner">
							    <div class="post-image">
								    <img src="images/temp/post_img8.jpg" alt="" />
							    </div>
							    <div class="post_title">
								    <h2><a href="#">Proin Quis Tortor Orci. Etiam At Risus</a></h2>
							    </div>
							    <div class="post-meta-top">
								    <span class="post-author">Daryl Toh Liem Zhan</span>
							    </div>
							    <div class="post-descr">
								    <p>The announcement marks the latest in a long line of sequels for film studio Pixar, which was once renowned for its original stories.</p>
							    </div>
							    <div class="post-meta-bot post-meta-links">
                                    <a href="#" class="btn"><span>Read more</span></a>
                                    <a href="#" class="btn btn-white"><span>12 Comments</span></a>
							    </div>
							</div>
					    </div>
					    <!--/ post item wide -->
				    </div>

				    <div class="col-sm-4">
					    <!-- post item wide -->
					    <div class="post-item-wide">
						    <div class="inner">
							    <div class="post-image">
								    <img src="images/temp/post_img9.jpg" alt="" />
							    </div>
							    <div class="post_title">
								    <h2><a href="#">Phasellus Molestie Magna Non Est Biben</a></h2>
							    </div>
							    <div class="post-meta-top">
								    <span class="post-author">Daryl Toh Liem Zhan</span>
							    </div>
							    <div class="post-descr">
								    <p>The announcement marks the latest in a long line of sequels for film studio Pixar, which was once renowned for its original stories.</p>
							    </div>
							    <div class="post-meta-bot post-meta-links">
                                    <a href="#" class="btn"><span>Read more</span></a>
                                    <a href="#" class="btn btn-white"><span>12 Comments</span></a>
							    </div>
						    </div>
					    </div>
					    <!--/ post item wide -->
				    </div>

				</div>
			    <!--/ post list -->
            </div>
		    <!--/ content -->
	    </div>
	    <!--/ row-->

		<!-- row-->
		<div class="row">
			<!-- content -->
			<div class="content clearfix">

				<div class="col-sm-12"><h6 class="foo">Popular blog entries with background</h6></div>
				<!-- post list -->
				<div class="postlist">

					<div class="col-sm-4">
						<!-- post item wide -->
						<div class="post-item-wide boxed">
							<div class="inner">
								<div class="badge badge-new"></div>
								<div class="post-image">
									<img src="images/temp/post_img10.jpg" alt="" />
								</div>
								<div class="post_title">
									<h2><a href="#">Donec Congue Lacinia Duiasreat</a></h2>
								</div>
								<div class="post-meta-top">
									<span class="post-author">Daryl Toh Liem Zhan</span>
								</div>
								<div class="post-descr">
									<p>The announcement marks the latest in a long line of sequels for film studio Pixar, which was once renowned for its original stories. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper.</p>
								</div>
								<div class="post-meta-bot post-meta-links">
									<a href="#" class="btn"><span>Read more</span></a>
								</div>
							</div>
						</div>
						<!--/ post item wide -->
					</div>

					<div class="col-sm-4">
						<!-- post item wide -->
						<div class="post-item-wide boxed">
							<div class="inner">
								<div class="badge badge-fresh"></div>
								<div class="post-image">
									<img src="images/temp/post_img11.jpg" alt="" />
								</div>
								<div class="post_title">
									<h2><a href="#">Awesome Image by Daryl Toh Liem Zhan</a></h2>
								</div>
								<div class="post-meta-top">
									<span class="post-author">Daryl Toh Liem Zhan</span>
								</div>
								<div class="post-descr">
									<p>The announcement marks the latest in a long line of sequels for film studio Pixar, which was once renowned for its original stories. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper.</p>
								</div>
								<div class="post-meta-bot post-meta-links">
                                    <a href="#" class="btn"><span>Read more</span></a>
								</div>
							</div>
						</div>
						<!--/ post item wide -->
					</div>

					<div class="col-sm-4">
						<!-- post item wide -->
						<div class="post-item-wide boxed">
							<div class="inner">
								<div class="badge badge-sale"></div>
								<div class="post-image">
									<img src="images/temp/post_img12.jpg" alt="" />
								</div>
								<div class="post_title">
									<h2><a href="#">Nulla Facilisi Aliquet Egestas Purus In Blandit.</a></h2>
								</div>
								<div class="post-meta-top">
									<span class="post-author">Daryl Toh Liem Zhan</span>
								</div>
								<div class="post-descr">
									<p>The announcement marks the latest in a long line of sequels for film studio Pixar, which was once renowned for its original stories. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper.</p>
								</div>
								<div class="post-meta-bot post-meta-links">
                                    <a href="#" class="btn"><span>Read more</span></a>
								</div>
							</div>
						</div>
						<!--/ post item wide -->
					</div>

				</div>
				<!--/ post list -->
			</div>
			<!--/ content -->
		</div>
		<!--/ row-->

		<!-- row-->
		<div class="row">
			<div class="col-sm-8">
				<!-- content -->
				<div class="content">

					<h6 class="foo">Comments section with reply form</h6>

					<!-- post comments -->
					<div class="comment-list clearfix" id="comments">
						<h2>4 Readers Commented</h2>
						<a href="#addcomments" class="link-add-comment anchor">Join Discussion</a>

						<ol>
							<li class="comment">

								<div class="comment-body">
									<div class="comment-arrow"></div>
									<div class="comment-avatar">
										<div class="avatar"><img src="images/temp/avatar1.png" alt="" /></div>
									</div>
									<div class="comment-text">
										<div class="comment-author clearfix">
											<a href="#" class="link-author">Brad Pit</a> <span class="comment-date">June 28, 2012</span> | <a href="#addcomments" class="link-reply anchor">Reply</a>
										</div>
										<div class="comment-entry">
											William Bradley "Brad" Pitt is an American actor and film producer. Pitt has received four Academy Award nominations and five Golden Globe Award nominations.
										</div>
									</div>
									<div class="clear"></div>
								</div>

							</li>

							<li class="comment">

								<div class="comment-body">
									<div class="comment-arrow"></div>
									<div class="comment-avatar">
										<div class="avatar"><img src="images/temp/avatar2.png" alt="" /></div>
									</div>
									<div class="comment-text">
										<div class="comment-author clearfix">
											<a href="#" class="link-author">Ari Gold</a> <span class="comment-date">June 28, 2012</span> | <a href="#addcomments" class="link-reply anchor">Reply</a>
										</div>
										<div class="comment-entry">
                                            Ari Gold is Vincent Chase's neurotic movie agent. He was an undergrad at Harvard University before earning his J.D./M.B.A. at the University of Michigan. In addition to reprising the role for the upcoming prequels of The Hobbit.
										</div>
									</div>
									<div class="clear"></div>
								</div>

								<!-- comment reply -->
								<ul class="children">
									<li class="comment">
										<div class="comment-body">
											<div class="comment-arrow"></div>
											<div class="comment-avatar">
												<div class="avatar"><img src="images/temp/avatar3.png" alt="" /></div>
											</div>
											<div class="comment-text">
												<div class="comment-author clearfix">
													<a href="#" class="link-author">Elijah Wood</a> <span class="comment-date">June 28, 2012</span> | <a href="#addcomments" class="link-reply anchor">Reply</a>
												</div>
												<div class="comment-entry">
													Elijah Wood is an American actor best known for portraying Frodo.
												</div>
											</div>
											<div class="clear"></div>
										</div>
									</li>
								</ul>
								<!--/ comment reply -->

							</li>

							<li class="comment">

								<div class="comment-body">
									<div class="comment-arrow"></div>
									<div class="comment-avatar">
										<div class="avatar"><img src="images/temp/avatar4.png" alt="" /></div>
									</div>
									<div class="comment-text">
										<div class="comment-author clearfix">
											<a href="#" class="link-author">Superman</a> <span class="comment-date">June 28, 2012</span> | <a href="#addcomments" class="link-reply anchor">Reply</a>
										</div>
										<div class="comment-entry">
                                            Superman is a fictional character, a comic book superhero who appears in comic books published by DC Comics.
										</div>
									</div>
									<div class="clear"></div>
								</div>

							</li>

						</ol>
					</div>
					<!--/ post comments -->

					<!-- comment form -->
					<div class="add-comment boxed" id="addcomments">

						<div class="add-comment-title"><h3>Leave a reply</h3></div>

						<div class="comment-form">
							<form action="#" method="post" id="commentForm" class="ajax_form">
								<div class="form-inner">
									<div class="field_text">
										<label for="name" class="label_title">Name</label>
										<input type="text" name="name" id="name" value="" class="inputtext input_middle required" />
									</div>
									<div class="field_text omega">
										<label for="email" class="label_title">Email (never published)</label>
										<input type="text" name="email" id="email" value="" class="inputtext input_middle required" />
									</div>
									<div class="clear"></div>
									<div class="field_text field_textarea">
										<label for="message" class="label_title">Comment</label>
										<textarea cols="30" rows="10" name="message" id="message" class="textarea textarea_middle required"></textarea>
									</div>
									<div class="clear"></div>
								</div>

								<div class="rowSubmit">
									<span class="btn btn-red link-submit"><input type="submit" id="send" value="Send Your Comment" /></span>
								</div>
							</form>
						</div>
					</div>
					<!--/ comment form -->

					<h6 class="foo">Pagination</h6>

                    <div class="buttons">
                        <a href="#" class="btn btn-left"><span>Back</span></a>
                        <a href="#" class="btn btn-hover"><span>Show more</span></a>
                        <a href="#" class="btn btn-right"><span>Next</span></a>
                    </div>

					<!-- tf pagination -->
					<div class="tf_pagination">
                        <a href="#" class="btn btn-left btn-green"><span>Back</span></a><!--
						--><div class="inner">
							<div class="inner_links">
								<a href="#" class="page-numbers">1</a>
								<a href="#" class="page-numbers">2</a>
								<a href="#" class="page-numbers">3</a>
								<span class="page-numbers page_current">4</span>
								<a href="#" class="page-numbers">5</a>
								<a href="#" class="page-numbers">6</a>
								<a href="#" class="page-numbers">7</a>
								<a href="#" class="page-numbers">8</a>
								<a href="#" class="page-numbers">9</a>
							</div>
						</div><!--
                        --><a href="#" class="btn btn-right btn-green"><span>Next</span></a>
					</div>
					<!--/ tf pagination -->

					<div class="buttons">
                        <a href="#" class="btn btn-hover"><span>Normal</span></a>
                        <a href="#" class="btn btn-hover hover"><span>Hover</span></a>
                        <a href="#" class="btn btn-hover active"><span>Pressed</span></a>
					</div>

				</div>
				<!--/ content -->
			</div>
		</div>
		<!--/ row-->

		<!-- row-->
		<div class="row">
			<!-- content -->
			<div class="content dividers clearfix">

				<div class="col-sm-12"><h6 class="foo">Dividers</h6></div>

				<div class="col-sm-12"><div class="divider"></div></div>
				<div class="col-sm-6"><div class="divider"></div></div>
				<div class="col-sm-6"><div class="divider"></div></div>
				<div class="col-sm-4"><div class="divider"></div></div>
				<div class="col-sm-4"><div class="divider"></div></div>
				<div class="col-sm-4"><div class="divider"></div></div>
                <div class="clearfix"></div>
				<div class="col-sm-12"><div class="divider dashed"></div></div>
				<div class="col-sm-6"><div class="divider dashed"></div></div>
				<div class="col-sm-6"><div class="divider dashed"></div></div>
				<div class="col-sm-4"><div class="divider dashed"></div></div>
				<div class="col-sm-4"><div class="divider dashed"></div></div>
				<div class="col-sm-4"><div class="divider dashed"></div></div>

			</div>
			<!--/ content -->
		</div>
		<!--/ row-->

	</div>
	<!--/ container-->
</body>
</html>