<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="author" content="ThemeFuse">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Vanilla Cream | Pricing</title>

<!-- main JS libs  -->
<script src="js/libs/modernizr.min.js"></script>
<script src="js/libs/jquery-1.10.0.js"></script>

<!-- Style CSS-->
<link href="style.less" media="screen" rel="stylesheet/less" type="text/css">

<!-- scripts  -->
<script src="js/general.js"></script>
<!-- Placeholders -->
<script type="text/javascript" src="js/jquery.powerful-placeholder.min.js"></script>

<!-- LESS -->
<script src="js/libs/less.js"></script>

<!--[if lt IE 9]><script src="js/respond.min.js"></script><![endif]-->
<!--[if gte IE 9]>
<style type="text/css">
    .gradient {filter: none !important;}
</style>
<![endif]-->
</head>

<body>
	<!--container-->
	<div class="container">
		<!--content-->
		<div class="content " role="main">

			<div class="row"><div class="col-sm-12"><h6 class="foo">Services without background</h6></div></div>
			
			<!-- .service list-->
			<div class="service_list service_list_1">
				<!-- .row-->
				<div class="row">
					<!--service item-->
					<div class="col-sm-5">
						<div class="service_item">
							<div class="service_img"><img src="images/icons/service-icon-1.png" alt="" /></div>
							<div class="service_title"><h2>Quisque Eget Odio</h2><p>Lots of clients &amp; users</p></div>
							<div class="clear"></div>
							<div class="service_desc">
								<p>Sandra Bruce, equalities strategist at Aberdeen City Council said: "Some of the key areas of debate arod Gypsy Travellers are about halltting sites, unauthorised encampments res and associated environmental issues</p>
							</div>
							<div class="service_meta_bot"><a href="#" class="btn btn-hover"><span>Learn More</span></a></div>
						</div>
					</div>
					<!--/service item-->

					<!--service item-->
					<div class="col-sm-5 col-sm-offset-1">
						<div class="service_item">
							<div class="service_img"><img src="images/icons/service-icon-2.png" alt="" /></div>
							<div class="service_title"><h2>Lorem Ipsum Dolor Sit</h2><p>Quisque Eget Ac Lectus Vestibulum</p></div>
							<div class="clear"></div>
							<div class="service_desc">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac</p>
							</div>
							<div class="service_meta_bot"><a href="#" class="btn btn-hover"><span>Learn More</span></a></div>
						</div>
					</div>
					<!--/service item-->
				</div>
				<!--/ .row-->

				<!-- .row-->
				<div class="row">
					<!--service item-->
					<div class="col-sm-5">
						<div class="service_item">
							<div class="service_img"><img src="images/icons/service-icon-3.png" alt="" /></div>
							<div class="service_title"><h2>Class Aptent Taciti</h2><p>Nunc Eu Ullamcorper Orci</p></div>
							<div class="clear"></div>
							<div class="service_desc">
								<p>Sandra Bruce, equalities strategist at Aberdeen City Council said: "Some of the key areas of debate around Gypsy Travellers are about halting sites, unauthorised encampments and associated environmental issues and the legal status of Gypsy Travellers. The City Council.</p>
							</div>
							<div class="service_meta_bot"><a href="#" class="btn btn-hover"><span>Learn More</span></a></div>
						</div>
					</div>
					<!--/service item-->

					<!--service item-->
					<div class="col-sm-5 col-sm-offset-1">
						<div class="service_item">
							<div class="service_img"><img src="images/icons/service-icon-4.png" alt="" /></div>
							<div class="service_title"><h2>Sed Molestie Augue Sit</h2><p>Etiam At Risus Et Justo Dignissim</p></div>
							<div class="clear"></div>
							<div class="service_desc">
								<p>Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut.</p>
							</div>
							<div class="service_meta_bot"><a href="#" class="btn btn-hover"><span>Learn More</span></a></div>
						</div>
					</div>
					<!--/service item-->
				</div>
				<!--/ .row-->

				<!-- .row-->
				<div class="row">
					<!--service item-->
					<div class="col-sm-5">
						<div class="service_item">
							<div class="service_img"><img src="images/icons/service-icon-5.png" alt="" /></div>
							<div class="service_title"><h2>Donec Congue Lacia</h2><p>Mauris Iaculis Porttitor Posuere Lorem</p></div>
							<div class="clear"></div>
							<div class="service_desc">
								<p>Sandra Bruce, equalities strategist at Aberdeen City Council said: "Some of the key areas of debate around Gypsy Travellers are about halting sites, unauthorised encampments and associated environmental issues and the legal status of Gypsy Travellers. The City Council.</p>
							</div>
							<div class="service_meta_bot"><a href="#" class="btn btn-hover"><span>Learn More</span></a></div>
						</div>
					</div>
					<!--/service item-->

					<!--service item-->
					<div class="col-sm-5 col-sm-offset-1">
						<div class="service_item">
							<div class="service_img"><img src="images/icons/service-icon-6.png" alt="" /></div>
							<div class="service_title"><h2>Sed Molestie Augue Sit</h2><p>Etiam At Risus Et Justo Dignissim</p></div>
							<div class="clear"></div>
							<div class="service_desc">
								<p>Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut.</p>
							</div>
							<div class="service_meta_bot"><a href="#" class="btn btn-hover"><span>Learn More</span></a></div>
						</div>
					</div>
					<!--/service item-->
				</div>
				<!--/ .row-->
			</div>
			<!--/ .service list-->

			<!-- .row-->
			<div class="row">
				<div class="col-sm-12">
					<h6 class="foo">Clients Box / Banners</h6>
					<!-- .clients box-->
					<div class="clients_box boxed">
						<div class="clients_box_content">
							<div class="ribbon ribbon-green"><span>DESCRIPTION FOR BANNERS</span></div>
							<div class="clients_list clearfix">
								<a class="client" href="#"><img src="images/temp/wordpress.png" alt="" /></a>
								<a class="client" href="#"><img src="images/temp/drupal.png" alt="" /></a>
								<a class="client" href="#"><img src="images/temp/joomla.png" alt="" /></a>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<!--/ .clients box-->
				</div>
			</div>
			<!--/ .row-->

			<!-- .row-->
			<div class="row">
				<div class="col-sm-12">
					<h6 class="foo">Services with background</h6>
					<!-- .service list-->
					<div class="service_list service_list_2 boxed">
						<div class="inner">
							<!-- .row level 2 -->
							<div class="row">
								<!--service item-->
								<div class="col-sm-5 col-sm-offset-1">
									<div class="service_item">
										<div class="service_img"><img src="images/icons/service-icon-1.png" alt="" /></div>
										<div class="service_title"><h2>Quisque Eget Odio</h2><p>Lots of clients &amp; users</p></div>
										<div class="clear"></div>
										<div class="service_desc">
											<p>Sandra Bruce, equalities strategist at Aberdeen City Council said: "Some of the key areas of debate arod Gypsy Travellers are about halltting sites, unauthorised encampments res and associated environmental issues</p>
										</div>
										<div class="service_meta_bot"><a href="#" class="btn btn-hover"><span>Learn More</span></a></div>
									</div>
								</div>
								<!--/service item-->

								<!--service item-->
								<div class="col-sm-5">
									<div class="service_item">
										<div class="service_img"><img src="images/icons/service-icon-2.png" alt="" /></div>
										<div class="service_title"><h2>Lorem Ipsum Dolor</h2><p>Quisque Eget Ac Lectus Vestibulum</p></div>
										<div class="clear"></div>
										<div class="service_desc">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu unauthorised encampments res and associated diam mattis viverra.</p>
										</div>
										<div class="service_meta_bot"><a href="#" class="btn btn-hover"><span>Learn More</span></a></div>
									</div>
								</div>
								<!--/service item-->
							</div>
							<!--/ .row level 2 -->

							<!-- .row level 2 -->
							<div class="row">
								<!--service item-->
								<div class="col-sm-5 col-sm-offset-1">
									<div class="service_item">
										<div class="service_img"><img src="images/icons/service-icon-3.png" alt="" /></div>
										<div class="service_title"><h2>Class Aptent Taciti</h2><p>Nunc Eu Ullamcorper Orci</p></div>
										<div class="clear"></div>
										<div class="service_desc">
											<p>Sandra Bruce, equalities strategist at Aberdeen City Council said: "Some of the key areas of debate around Gypsy Travellers are about halting sites, unauthorised encampments and associated environmental issues and the legal status of Gypsy Travellers.</p>
										</div>
										<div class="service_meta_bot"><a href="#" class="btn btn-hover"><span>Learn More</span></a></div>
									</div>
								</div>
								<!--/service item-->

								<!--service item-->
								<div class="col-sm-5">
									<div class="service_item">
										<div class="service_img"><img src="images/icons/service-icon-4.png" alt="" /></div>
										<div class="service_title"><h2>Sed Molestie Augue</h2><p>Etiam At Risus Et Justo Dignissim</p></div>
										<div class="clear"></div>
										<div class="service_desc">
											<p>Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut.</p>
										</div>
										<div class="service_meta_bot"><a href="#" class="btn btn-hover"><span>Learn More</span></a></div>
									</div>
								</div>
								<!--/service item-->
							</div>
							<!--/ .row level 2 -->

							<!-- .row level 2 -->
							<div class="row">
								<!--service item-->
								<div class="col-sm-5 col-sm-offset-1">
									<div class="service_item">
										<div class="service_img"><img src="images/icons/service-icon-5.png" alt="" /></div>
										<div class="service_title"><h2>Donec Congue Dui</h2><p>Mauris Iaculis Porttitor Posuere Lorem</p></div>
										<div class="clear"></div>
										<div class="service_desc">
											<p>Sandra Bruce, equalities strategist at Aberdeen City Council said: "Some of the key areas of debate around Gypsy Travellers are about halting sites, unauthorised encampments and associated environmental issues and the legal status of Gypsy Travellers.</p>
										</div>
										<div class="service_meta_bot"><a href="#" class="btn btn-hover"><span>Learn More</span></a></div>
									</div>
								</div>
								<!--/service item-->

								<!--service item-->
								<div class="col-sm-5">
									<div class="service_item">
										<div class="service_img"><img src="images/icons/service-icon-6.png" alt="" /></div>
										<div class="service_title"><h2>Sed Molestie Augue</h2><p>Etiam At Risus Et Justo Dignissim</p></div>
										<div class="clear"></div>
										<div class="service_desc">
											<p>Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut.</p>
										</div>
										<div class="service_meta_bot"><a href="#" class="btn btn-hover"><span>Learn More</span></a></div>
									</div>
								</div>
								<!--/service item-->
							</div>
							<!--/ .row level 2 -->

						</div>
					</div>
					<!--/ .service list-->
				</div>
			</div>
			<!--/ .row-->

			<div class="row"><div class="col-sm-12"><h6 class="foo">3 column services</h6></div></div>
			<!-- .service list-->
			<div class="service_list service_list_3">
				<!-- .row-->
				<div class="row">
					<!--service item-->
					<div class="col-sm-4">
						<div class="service_item">
							<div class="service_img"><img src="images/icons/icon-3column-1.png" alt="" /></div>
							<div class="service_title"><h2>Donec Congue Lacinia</h2><p>Mauris Iaculis Porttitor Posuere Lorem</p></div>
							<div class="clear"></div>
							<div class="service_desc">
								<p>Sandra Bruce, equalities strategist at Aberdeen City Council said: "Some of the key areas of debate around Gypsy Travellers are about halting sites, unauthorised encampments and associated environmental issues and the legal status of Gypsy Travellers. The City Council.</p>
							</div>
							<div class="service_meta_bot"><a href="#" class="btn btn-hover"><span>Learn More</span></a></div>
						</div>
					</div>
					<!--/service item-->

					<!--service item-->
					<div class="col-sm-4">
						<div class="service_item">
							<div class="service_img"><img src="images/icons/icon-3column-2.png" alt="" /></div>
							<div class="service_title"><h2>Nulla Enim. Phasellus</h2><p>Nulla Facilisi. Duis Aliquet</p></div>
							<div class="clear"></div>
							<div class="service_desc">
								<p>Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna</p>
							</div>
							<div class="service_meta_bot"><a href="#" class="btn btn-hover"><span>Learn More</span></a></div>
						</div>
					</div>
					<!--/service item-->

					<!--service item-->
					<div class="col-sm-4">
						<div class="service_item">
							<div class="service_img"><img src="images/icons/icon-3column-3.png" alt="" /></div>
							<div class="service_title"><h2>Curabitur Vulputate</h2><p>Class Aptent Taciti Sociosqu Ad</p></div>
							<div class="clear"></div>
							<div class="service_desc">
								<p>Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad.Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est usit amet arcu. Class aptent taciti sociosqu ad.</p>
							</div>
							<div class="service_meta_bot"><a href="#" class="btn btn-hover"><span>Learn More</span></a></div>
						</div>
					</div>
					<!--/service item-->
				</div>
				<!--/ .row-->
			</div>
			<!--/ .service list-->

			<div class="row"><div class="col-sm-12"><h6 class="foo">3 column services</h6></div></div>
			<!-- .service list-->
			<div class="service_list service_list_4">
				<!-- .row-->
				<div class="row">
					<!--service item-->
					<div class="col-sm-4">
						<div class="service_item boxed">
							<div class="inner">
								<div class="service_img"><img src="images/icons/icon-3column-4.png" alt="" /></div>
								<div class="service_title"><h2>Donec Congue Lacinia Dui</h2><p>Mauris Iaculis Porttitor Posuere Lorem</p></div>
								<div class="clear"></div>
								<div class="service_desc">
									<p>Sandra Bruce, equalities strategist at Aberdeen City Council said: "Some of the key areas of debate around Gypsy Travellers are about halting sites, unauthorised encampments and associated environmental issues and the legal status of Gypsy Travellers. The City Council actively.</p>
								</div>
								<div class="service_meta_bot"><a href="#" class="btn btn-hover"><span>Learn More</span></a></div>
							</div>
						</div>
					</div>
					<!--/service item-->

					<!--service item-->
					<div class="col-sm-4">
						<div class="service_item boxed">
							<div class="inner">
								<div class="service_img"><img src="images/icons/icon-3column-5.png" alt="" /></div>
								<div class="service_title"><h2>Duis Aliquet Egestas Purus</h2><p>Vestibulum Ante Ipsum Primis</p></div>
								<div class="clear"></div>
								<div class="service_desc">
									<p>Sandra Bruce, equalities strategist at Aberdeen City Council said: "Some of the key areas of debate around Gypsy Travellers are about halting sites, unauthorised encampments and associated environmental issues and the legal status of Gypsy Travellers. The City Council actively.</p>
								</div>
								<div class="service_meta_bot"><a href="#" class="btn btn-hover"><span>Learn More</span></a></div>
							</div>
						</div>
					</div>
					<!--/service item-->

					<!--service item-->
					<div class="col-sm-4">
						<div class="service_item boxed">
							<div class="inner">
								<div class="service_img"><img src="images/icons/icon-3column-6.png" alt="" /></div>
								<div class="service_title"><h2>Sed Auctor Neque Eu</h2><p>Sed Auctor Neque Eu Tellus</p></div>
								<div class="clear"></div>
								<div class="service_desc">
									<p>Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat.</p>
								</div>
								<div class="service_meta_bot"><a href="#" class="btn btn-hover"><span>Learn More</span></a></div>
							</div>
						</div>
					</div>
					<!--/service item-->
				</div>
				<!--/ .row-->
			</div>
			<!--/ .service list-->

			<!-- .row-->
			<div class="row">
				<div class="col-sm-12">
					<h6 class="foo">Pricing Tables</h6>

					<!-- pricing1-->
					<div class="pricing_box price_style1 clearfix">
						<ul>

							<li class="price_col">
								<!--pricing item-->
								<div class="price_item">
									<div class="inner">
										<div class="badge style2"></div>
										<div class="price_col_head">
											<span class="price"><sup>$</sup><em>99</em><span>/month</span></span>
										</div>
										<div class="price_col_body clearfix">
											<div class="price_body_inner">
												<div class="price_body_top">
													<strong>Basic</strong>
													<span>Lots of clients &amp; users</span>
												</div>
												<ul>
													<li>250 SKU’s</li>
													<li>1 GB Storage</li>
													<li>3,5% transaction fee</li>
												</ul>
											</div>
										</div>
										<div class="price_col_foot">
											<div class="sign_up"><a href="#" class="btn"><span>Try a Week</span></a></div>
										</div>
									</div>
								</div>
								<!--/ pricing-item -->
							</li>

							<li class="price_col price_col_green col_active">
								<!--pricing item-->
								<div class="price_item">
									<div class="inner">
										<div class="badge style2"></div>
										<div class="price_col_head">
											<span class="price"><sup>$</sup><em>299</em><span>/month</span></span>
										</div>
										<div class="price_col_body clearfix">
											<div class="price_body_inner">
												<div class="price_body_top">
													<strong>Premium</strong>
													<span>Lots of clients  & users</span>
												</div>
												<ul>
													<li>2,500 SKU’s</li>
													<li>5 GB Storage</li>
													<li>1,5% transaction fee</li>
												</ul>
											</div>
										</div>
										<div class="price_col_foot">
											<div class="sign_up"><a href="#" class="btn btn-green btn-large"><span>Buy Now</span></a></div>
										</div>
									</div>
								</div>
								<!--/ pricing-item -->
							</li>

							<li class="price_col">
								<!--pricing item-->
								<div class="price_item">
									<div class="badge style2"></div>
									<div class="inner">
										<div class="price_col_head">
											<span class="price"><sup>$</sup><em>499</em><span>/month</span></span>
										</div>
										<div class="price_col_body clearfix">
											<div class="price_body_inner">
												<div class="price_body_top">
													<strong>Ultimate</strong>
													<span>Lots of clients &amp; users</span>
												</div>
												<ul>
													<li>Unlimited SKU’s</li>
													<li>20 GB Storage</li>
													<li>1% transaction fee</li>
												</ul>
											</div>
										</div>
										<div class="price_col_foot">
											<div class="sign_up"><a href="#" class="btn"><span>Subscribe Now</span></a></div>
										</div>
									</div>
								</div>
								<!--/ pricing-item -->
							</li>

						</ul>
					</div>
					<!--/ pricing1-->
				</div>
			</div>
			<!--/ .row-->

			<!-- pricing2-->
			<div class="pricing_box price_style2 clearfix">
				<ul class="row">

					<li class="price_col price_col_light col-sm-4">
						<!--pricing item-->
						<div class="price_item">
							<div class="badge style2"></div>
							<div class="inner">
								<div class="price_col_head">
									<span class="price"><sup>$</sup><em>99</em><span>/month</span></span>
								</div>
								<div class="price_col_body clearfix">
									<div class="price_body_inner">
										<div class="price_body_top">
											<strong>Basic</strong>
											<span>Lots of clients &amp; users</span>
										</div>
										<ul>
											<li>2,500 SKU’s</li>
											<li>5 GB Storage</li>
											<li>1,5% transaction fee</li>
										</ul>
									</div>
								</div>
								<div class="price_col_foot">
									<div class="sign_up"><a href="#" class="btn"><span>Try a Week</span></a></div>
								</div>
							</div>
						</div>
						<!--/ pricing-item -->
					</li>

					<li class="price_col price_col_green col-sm-4 col_active">
						<!--pricing item-->
						<div class="price_item">
							<div class="badge style2"></div>
							<div class="inner">
								<div class="price_col_head">
									<span class="price"><sup>$</sup><em>299</em><span>/month</span></span>
								</div>
								<div class="price_col_body clearfix">
									<div class="price_body_inner">
										<div class="price_body_top">
											<strong>Premium</strong>
											<span>Lots of clients  & users</span>
										</div>
										<ul>
											<li>2,500 SKU’s</li>
											<li>5 GB Storage</li>
											<li>1,5% transaction fee</li>
										</ul>
									</div>
								</div>
								<div class="price_col_foot">
									<div class="sign_up"><a href="#" class="btn btn-green btn-large"><span>Buy Now</span></a></div>
								</div>
							</div>
						</div>
						<!--/ pricing-item -->
					</li>

					<li class="price_col col-sm-4">
						<!--pricing item-->
						<div class="price_item">
							<div class="badge style2"></div>
							<div class="inner">
								<div class="price_col_head">
									<span class="price"><sup>$</sup><em>499</em><span>/month</span></span>
								</div>
								<div class="price_col_body clearfix">
									<div class="price_body_inner">
										<div class="price_body_top">
											<strong>Ultimate</strong>
											<span>Lots of clients &amp; users</span>
										</div>
										<ul>
											<li>2,500 SKU’s</li>
											<li>5 GB Storage</li>
											<li>1,5% transaction fee</li>
										</ul>
									</div>
								</div>
								<div class="price_col_foot">
									<div class="sign_up"><a href="#" class="btn"><span>30 Day Free Trial</span></a></div>
								</div>
							</div>
						</div>
						<!--/ pricing-item -->
					</li>

				</ul>
			</div>
			<!--/ pricing2-->
		</div>
		<!--/content-->
	</div>
	<!--/container-->
</body>
</html>