<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="author" content="ThemeFuse">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Vanilla Cream | Typography and Buttons</title>

<!-- main JS libs  -->
<script src="js/libs/modernizr.min.js"></script>
<script src="js/libs/jquery-1.10.0.js"></script>
<script src="js/libs/bootstrap.min.js"></script>

<!-- Style CSS-->
<link href="style.less" media="screen" rel="stylesheet/less" type="text/css">

<!-- scripts  -->
<script src="js/general.js"></script>
<!-- Placeholders -->
<script type="text/javascript" src="js/jquery.powerful-placeholder.min.js"></script>

<!-- LESS -->
<script src="js/libs/less.js"></script>

<!--[if lt IE 9]><script src="js/respond.min.js"></script><![endif]-->
<!--[if gte IE 9]>
<style type="text/css">
    .gradient {filter: none !important;}
</style>
<![endif]-->
</head>

<body>
    <div class="container">

        <!-- row-->
        <div class="row">
            <div class="col-sm-8">
                <!-- content-->
                <div class="content " role="main">

                    <h6 class="foo">Paragraphy styles</h6>

                    <!-- Typography-->
                    <div class="typography">
                        <h1>Typography & paragraph styles (h1)</h1>
                        <p>A cluster-balloonist who became the first person to fly the English Channel has launched a house into the sky just like in the Disney movie 'Up'. Intrepid Jonathan Trappe, 38, took off just like the 78-year-old character Carl Frederickson in the hit movie. Trappe has invested $170,000 into his Atlantic dream, for which he's been training his whole career, and now he's launching a site</p>
                        <h2>Subtitle of the paragraph (h2)</h2>
                        <p>A cluster-balloonist who became the first person to fly the English Channel has launched a house into the sky just like in the Disney movie 'Up'. Intrepid Jonathan Trappe, 38, took off just like the 78-year-old character Carl Frederickson in the hit movie. Trappe has invested $170,000 into his Atlantic dream, for which he's been training his whole career, and now he's launching a site</p>
                        <h3>Example of another tag (h3)</h3>
                        <p>A cluster-balloonist who became the first person to fly the English Channel has launched a house into the sky just like in the Disney movie 'Up'. Intrepid Jonathan Trappe, 38, took off just like the 78-year-old character Carl Frederickson in the hit movie. Trappe has invested $170,000 into his Atlantic dream, for which he's been training his whole career, and now he's launching a site</p>

                        <!-- row level 2 -->
                        <div class="row">
                            <div class="col-sm-4"><h4>Example of tag (h4)</h4></div>
                            <div class="col-sm-4"><h5>Example of tag (h5)</h5></div>
                            <div class="col-sm-4"><h6>Example of tag (h6)</h6></div>
                        </div>
                        <!--/ row level 2 -->
                    </div>
                    <!--/ Typography-->

                    <h6 class="foo">Pull Quotes</h6>

                    <!-- Block quotes-->
                    <div class="block_quotes">
                        <h2>Pull Quotes</h2>
                        <p>A cluster-balloonist who became the first person to fly the English Channel has launched a house into the sky just like in the Disney movie 'Up'. Intrepid Jonathan Trappe, 38, took off just like the 78-year-old character Carl Frederickson in the hit movie. Trappe has invested $170,000 into his Atlantic dream, for which he's been training his whole career, and now he's launching a site</p>
                        <p><span class="quote_right">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</span>A cluster-balloonist who became the first person to fly the English Channel has launched a house into the sky just like in the Disney movie 'Up'. Intrepid Jonathan Trappe, 38, took off just like the 78-year-old character Carl Frederickson in the hit movie. Trappe has invested $170,000 into his Atlantic dream, for which he's been training his whole career, and now he's launching a site so ordinary people can play.</p>
                        <p>A cluster-balloonist who became the first person to fly the English Channel has launched a house into the sky just like in the Disney movie 'Up'. Intrepid Jonathan Trappe, 38, took off just like the 78-year-old character Carl Frederickson in the hit movie.</p>
                    </div>
                    <!--/ Block quotes-->

                    <h6 class="foo">Intro Text</h6>

                    <!-- post item-->
                    <div class="post-item intro-text">
                        <div class="post-title"><h2><a href="#">Title of article with intro text</a></h2></div>
                        <div class="post-meta-top">
                            <span class="post-date">SEPTEMBER  5TH, 2012</span>
                            <span class="post-author">Johnathan doe</span>
                        </div>
                        <div class="divider dashed"></div>
                        <div class="post-intro-text"><p>A cluster-balloonist who became the first person to fly the English Channel has launched a house into the sky just like in the Disney movie 'Up'. Intrepid Jonathan Trappe, 38, took off just like the 78-year-old character Carl Frederickson in the hit</p></div>
                        <div class="divider dashed"></div>
                        <div class="post-desc">
                            <p>A cluster-balloonist who became the first person to fly the English Channel has launched a house into the sky just like in the Disney movie 'Up'. Intrepid Jonathan Trappe, 38, took off just like the 78-year-old character Carl Frederickson in the hit movie.</p>
                        </div>
                    </div>
                    <!--/post item-->

                    <!-- post item-->
                    <div class="post-item intro-text intro-text-boxed">
                        <div class="post-title"><h2><a href="#">Title of article with intro text</a></h2></div>
                        <div class="post-meta-top">
                            <span class="post-date">SEPTEMBER  5TH, 2012</span>
                            <span class="post-author">Johnathan doe</span>
                        </div>
                        <div class="divider dashed"></div>
                        <div class="post-intro-text"><p>A cluster-balloonist who became the first person to fly the English Channel has launched a house into the sky just like in the Disney movie 'Up'. Intrepid Jonathan Trappe, 38, took off just like the 78-year-old character Carl Frederickson in the hit movie. Trappe has invested</p></div>
                        <div class="divider dashed"></div>
                        <div class="post-desc">
                            <p>A cluster-balloonist who became the first person to fly the English Channel has launched a house into the sky just like in the Disney movie 'Up'. Intrepid Jonathan Trappe, 38, took off just like the 78-year-old character Carl Frederickson in the hit movie.</p>
                        </div>
                    </div>
                    <!--/post item-->

                    <h6 class="foo">Info Boxes</h6>

                    <div class="info-boxes">
                        <!-- Alert -->
                        <div class="alert boxed fade in">
                            <div class="alert-body">
                                <span>Notice:</span>
                                <p>A cluster-balloonist who became the first person to fly the</p>
                            </div>
                            <span class="alert-label"></span>
                            <a href="#" class="close" data-dismiss="alert">close</a>
                        </div>
                        <!--/ Alert -->

                        <!-- Alert -->
                        <div class="alert boxed alert-warning fade in">
                            <div class="alert-body">
                                <span>Warning:</span>
                                <p>has launched a house into the sky just like in the Disney</p>
                            </div>
                            <span class="alert-label"></span>
                            <a href="#" class="close" data-dismiss="alert">close</a>
                        </div>
                        <!--/ Alert -->

                        <!-- Alert -->
                        <div class="alert boxed alert-error fade in">
                            <div class="alert-body">
                                <span>Error:</span>
                                <p>A cluster-balloonist who became the first person to fly the</p>
                            </div>
                            <span class="alert-label"></span>
                            <a href="#" class="close" data-dismiss="alert">close</a>
                        </div>
                        <!--/ Alert -->

                        <!-- Alert -->
                        <div class="alert boxed alert-success fade in">
                            <div class="alert-body">
                                <span>Success:</span>
                                <p>A cluster-balloonist who became the first person to fly</p>
                            </div>
                            <span class="alert-label"></span>
                            <a href="#" class="close" data-dismiss="alert">close</a>
                        </div>
                        <!--/ Alert -->
                    </div>

                    <div class="buttons-wrap">
                        <!-- row level 2 -->
                        <div class="row">
                            <div class="col-sm-7">
                                <h6 class="foo">Buttons</h6>
                                <div class="buttons-wrap">
                                    <!-- Buttons -->
                                    <div class="buttons">
                                        <a href="#" class="btn btn-left"><span>Back</span></a>
                                        <a href="#" class="btn btn-hover"><span>Show more</span></a>
                                        <a href="#" class="btn btn-right"><span>Next</span></a>
                                    </div>

                                    <div class="buttons">
                                        <a href="#" class="btn btn-hover"><span>Normal</span></a>
                                        <a href="#" class="btn btn-hover hover"><span>Hover</span></a>
                                        <a href="#" class="btn btn-hover active"><span>Pressed</span></a>
                                    </div>

                                    <div class="buttons">
                                        <a href="#" class="btn btn-left btn-green"><span>Back</span></a><!--
                                        --><a href="#" class="btn btn-acute"><span>Show more results</span></a><!--
                                        --><a href="#" class="btn btn-right btn-green"><span>Next</span></a>
                                    </div>
                                    <!--/ Buttons -->
                                </div>
                            </div>

                            <div class="col-sm-5">
                                <h6 class="foo">Badges</h6>

                                <div class="badges">
                                    <div class="badge style2"></div>
                                    <div class="badge style2 badge-green"></div>
                                    <div class="badge style2 badge-brown"></div>
                                </div>
                            </div>
                        </div>
                        <!--/ row level 2 -->
                    </div>

                </div>
                <!--/ content-->
            </div>

            <div class="col-sm-4">
                <!-- sidebar-->
                <div class="sidebar">
                    <h6 class="foo">Sidebar</h6>

                    <!-- sidebar tabs -->
                    <div class="tabs_framed">
                        <div class="inner">
                            <ul class="tabs clearfix active_bookmark1">
                                <li><a href="#recent2" data-toggle="tab">Recent</a></li>
                                <li class="active"><a href="#popular2" data-toggle="tab">Popular</a></li>
                            </ul>

                            <div class="tab-content clearfix">
                                <div class="tab-pane fade" id="recent2">
                                    <h4>Young gypsy voice</h4>
                                    <div class="tab_image"><img src="images/temp/tabimage1.png" alt="" /></div>
                                    <p>Intrepid Jonathan Trappe, 38, took off just like the 78-year-old character Carl Frederickson.</p>
                                </div>
                                <div class="tab-pane fade in active" id="popular2">
                                    <h4>Toy Story 3</h4>
                                    <div class="tab_image pull-left"><img src="images/temp/tabimage2.png" alt="" /></div>
                                    <p>A cluster balloonist who became the first person to fly the English Channel has Intrepid Jonathan Trappe, 38, took off just like the 78-year-old character Carl Frederickson.</p>
                                </div>
                            </div>
                        </div>
                        <div class="bottom"></div>
                    </div>
                    <!--/ sidebar tabs -->

                    <!-- sidebar tabs -->
                    <div class="tabs_framed">
                        <div class="inner">
                            <ul class="tabs clearfix active_bookmark1">
                                <li><a href="#recent" data-toggle="tab">Recent</a></li>
                                <li class="active"><a href="#popular" data-toggle="tab">Popular</a></li>
                                <li><a href="#foo" data-toggle="tab">Tab 3</a></li>
                            </ul>

                            <div class="tab-content clearfix">
                                <div class="tab-pane fade" id="recent">
                                    <h4>Toy Story 3</h4>
                                    <div class="tab_image pull-left"><img src="images/temp/tabimage2.png" alt="" /></div>
                                    <p>A cluster balloonist who became the first person to fly the English Channel has Intrepid Jonathan Trappe, 38, took off just like the 78-year-old character Carl Frederickson in the hit movie.</p>
                                </div>
                                <div class="tab-pane fade in active" id="popular">
                                    <h4>Young gypsy voice</h4>
                                    <div class="tab_image"><img src="images/temp/tabimage1.png" alt="" /></div>
                                    <p>Intrepid Jonathan Trappe, 38, took off just like the 78-year-old character Carl Frederickson in the hit movie.</p>
                                </div>
                                <div class="tab-pane fade" id="foo">
                                    <h4>Young gypsy voice</h4>
                                    <div class="tab_image pull-right"><img src="images/temp/tabimage3.png" alt="" /></div>
                                    <p>A cluster balloonist who became the first person to fly the English Channel has Intrepid Jonathan Trappe, 38, took off just like the 78-year-old character Carl Frederickson in the hit movie.</p>
                                </div>
                            </div>
                        </div>
                        <div class="bottom"></div>
                    </div>
                    <!--/ sidebar tabs -->

                    <!-- sidebar tabs -->
                    <div class="tabs_framed">
                        <div class="inner">
                            <ul class="tabs clearfix active_bookmark1">
                                <li class="active"><a href="#popular3" data-toggle="tab">Popular</a></li>
                                <li><a href="#recent3" data-toggle="tab">Recent</a></li>
                            </ul>

                            <div class="tab-content clearfix">
                                <div class="tab-pane fade in active" id="popular3">
                                    <h4>Young gypsy voice</h4>
                                    <div class="tab_image pull-right"><img src="images/temp/tabimage3.png" alt="" /></div>
                                    <p>A cluster balloonist who became the first person to fly the English Channel has Intrepid Jonathan Trappe, 38, took off just like the 78-year-old character Carl Frederickson in the hit movie.</p>
                                </div>
                                <div class="tab-pane fade" id="recent3">
                                    <h4>Young gypsy voice</h4>
                                    <div class="tab_image"><img src="images/temp/tabimage1.png" alt="" /></div>
                                    <p>Intrepid Jonathan Trappe, 38, took off just like the 78-year-old character Carl Frederickson in the hit movie.</p>
                                </div>
                            </div>
                        </div>
                        <div class="bottom"></div>
                    </div>
                    <!--/ sidebar tabs -->

                    <!-- toggle content -->
                    <div class="toggle boxed">
                        <div class="toggle-header">
                            <a class="toggle-link collapsed" data-toggle="collapse" href="#toggle1">
								<span class="question">Q:</span>
								<h4>Change the sidebar?</h4>
								<i></i>
							</a>
                        </div>
                        <div id="toggle1" class="toggle-body collapse">
                            <div class="inner">
                                <p>The sidebar is a narrow vertical column often jam-packed with lots of information about a website. Found on most WordPress sites, the sidebar is usually placed on the right or left-hand side of the web page, though in some cases</p>
                            </div>
                        </div>
                    </div>
                    <!--/ toggle content -->

                    <!-- toggle content -->
                    <div class="toggle boxed">
                        <div class="toggle-header">
                            <a class="toggle-link" data-toggle="collapse" href="#toggle2">
								<span class="question">Q:</span>
								<h4>Where are the styles?</h4>
								<i></i>
							</a>
                        </div>
                        <div id="toggle2" class="toggle-body collapse in">
                            <div class="inner">
                                <p>The sidebar is a narrow vertical column often jam-packed with lots of information about a website. Found on most WordPress sites, the sidebar is usually placed on the right or left-hand side of the web page, though in some cases</p>
                            </div>
                        </div>
                    </div>
                    <!--/ toggle content -->

                </div>
                <!--/ sidebar-->
            </div>
        </div>
        <!--/ row-->

        <!-- row-->
        <div class="row">
            <div class="col-sm-6">
                <!-- tabs -->
                <div class="tabs_framed styled">
                    <div class="inner">
                        <ul class="tabs clearfix active_bookmark1">
                            <li class="active"><a href="#events" data-toggle="tab">Events</a></li>
                            <li><a href="#reminders" data-toggle="tab"><sup class="note">3</sup>Reminders</a></li>
                            <li><a href="#starred" data-toggle="tab">Starred</a></li>
                            <li><a href="#archive" data-toggle="tab">Archive</a></li>
                        </ul>

                        <div class="tab-content clearfix">
                            <div class="tab-pane fade in active" id="events">
                                <div class="tab_image pull-left"><img src="images/temp/tabimage4.png" alt="" /></div>
                                <h4>4 august 2013</h4>
                                <p>He made his film debut with a minor part in Back to the Future Part II</p>
                                <a href="#" class="see-more"><span>See more</span></a>
                            </div>
                            <div class="tab-pane fade" id="reminders">
                                <div class="tab_image pull-right"><img src="images/temp/tabimage5.png" alt="" /></div>
                                <h4>5 November</h4>
                                <p>He made his film debut with a minor part in Back to the Future Part II</p>
                                <a href="#" class="see-more"><span>See more</span></a>
                            </div>
                            <div class="tab-pane fade" id="starred">
                                <div class="tab_image pull-left"><img src="images/temp/tabimage6.png" alt="" /></div>
                                <h4>11 October</h4>
                                <p>He made his film debut with a minor part in Back to the Future Part II</p>
                                <a href="#" class="see-more"><span>See more</span></a>
                            </div>
                            <div class="tab-pane fade" id="archive">
                                <div class="tab_image pull-right"><img src="images/temp/tabimage7.png" alt="" /></div>
                                <h4>14 September</h4>
                                <p>He made his film debut with a minor part in Back to the Future Part II</p>
                                <a href="#" class="see-more"><span>See more</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ tabs -->
            </div>

            <div class="col-sm-6">
                <!-- tabs -->
                <div class="tabs_framed styled">
                    <div class="inner">
                        <ul class="tabs clearfix active_bookmark1">
                            <li><a href="#events2" data-toggle="tab">Events</a></li>
                            <li class="active"><a href="#reminders2" data-toggle="tab"><sup class="note">3</sup>Reminders</a></li>
                            <li><a href="#starred2" data-toggle="tab">Starred</a></li>
                            <li><a href="#archive2" data-toggle="tab">Archive</a></li>
                        </ul>

                        <div class="tab-content clearfix">
                            <div class="tab-pane fade" id="events2">
                                <div class="tab_image pull-right"><img src="images/temp/tabimage4.png" alt="" /></div>
                                <h4>4 august 2013</h4>
                                <p>He made his film debut with a minor part in Back to the Future Part II</p>
                                <a href="#" class="see-more"><span>See more</span></a>
                            </div>
                            <div class="tab-pane fade in active" id="reminders2">
                                <div class="tab_image pull-left"><img src="images/temp/tabimage5.png" alt="" /></div>
                                <h4>5 November</h4>
                                <p>He made his film debut with a minor part in Back to the Future Part II</p>
                                <a href="#" class="see-more"><span>See more</span></a>
                            </div>
                            <div class="tab-pane fade" id="starred2">
                                <div class="tab_image pull-right"><img src="images/temp/tabimage7.png" alt="" /></div>
                                <h4>11 October</h4>
                                <p>He made his film debut with a minor part in Back to the Future Part II</p>
                                <a href="#" class="see-more"><span>See more</span></a>
                            </div>
                            <div class="tab-pane fade" id="archive2">
                                <div class="tab_image pull-left"><img src="images/temp/tabimage6.png" alt="" /></div>
                                <h4>14 September</h4>
                                <p>He made his film debut with a minor part in Back to the Future Part II</p>
                                <a href="#" class="see-more"><span>See more</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ tabs -->
            </div>
        </div>
        <!--/ row-->

        <!-- row-->
        <div class="row">
            <div class="col-sm-8">
                <h6 class="foo">Toggle content</h6>

                <!-- toggle content -->
                <div class="toggle boxed">
                    <div class="toggle-header">
                        <a class="toggle-link collapsed" data-toggle="collapse" href="#toggle3">
                            <span class="question"></span>
                            <h4>Toggle content (Click to open/close)</h4>
                            <i></i>
                        </a>
                    </div>
                    <div id="toggle3" class="toggle-body collapse">
                        <div class="inner">
                            <p>A cluster-balloonist who became the first person to fly the English Channel launched a house into the sky just like in the Disney movie 'Up'. Intrepid Jonathan Trappe 38 took off just like the 78-year-old character Carl Frederickson in the hit movie.</p>
                        </div>
                    </div>
                </div>
                <!--/ toggle content -->
            </div>
        </div>
        <!--/ row-->

        <!-- row-->
        <div class="row">
            <div class="col-sm-6">
                <!-- toggle content -->
                <div class="toggle boxed">
                    <div class="toggle-header">
                        <a class="toggle-link" data-toggle="collapse" href="#toggle4">
                            <span class="question">Q:</span>
                            <h4>How do I change the sidebar?</h4>
                            <i></i>
                        </a>
                    </div>
                    <div id="toggle4" class="toggle-body collapse in">
                        <div class="inner">
                            <p>The sidebar is a narrow vertical column often jam-packed with lots of information about a website. Found on most WordPress sites, the sidebar is usually placed on the right or left-hand </p>
                        </div>
                    </div>
                </div>
                <!--/ toggle content -->
            </div>

            <div class="col-sm-6">
                <!-- toggle content -->
                <div class="toggle boxed">
                    <div class="toggle-header">
                        <a class="toggle-link collapsed" data-toggle="collapse" href="#toggle5">
                            <span class="question">Q:</span>
                            <h4>How do I find my styles?</h4>
                            <i></i>
                        </a>
                    </div>
                    <div id="toggle5" class="toggle-body collapse">
                        <div class="inner">
                            <p>The following isn't about choosing a WordPress Theme, but finding the CSS styles within your current Theme. Often a problem occurs in one part of the layout or template. For</p>
                        </div>
                    </div>
                </div>
                <!--/ toggle content -->
            </div>
        </div>
        <!--/ row-->

        <!-- row-->
        <div class="row">
            <div class="col-sm-12">
                <!-- toggle content -->
                <div class="toggle boxed">
                    <div class="toggle-header">
                        <a class="toggle-link" data-toggle="collapse" href="#toggle6">
                            <span class="question">Q:</span>
                            <h4>How do I change the box with information about my post?</h4>
                            <i></i>
                        </a>
                    </div>
                    <div id="toggle6" class="toggle-body collapse in">
                        <div class="inner">
                            <p>Your posts are filed in different categories. Category information is freqently displayed in the post meta data section near your post or under the heading title. Different WordPress Themes highlight the post meta data section in different areas.</p>
                        </div>
                    </div>
                </div>
                <!--/ toggle content -->
            </div>
        </div>
        <!--/ row-->

        <!-- row-->
        <div class="row">
            <div class="col-sm-10">
                    <h6 class="foo">Toggle content</h6>

                    <!-- toggle content -->
                    <div class="toggle">
                        <div class="toggle-header">
                            <a class="toggle-link" data-toggle="collapse" href="#toggle7">
								<span class="question">Q:</span>
								<h4>Toggle content (Click to open/close)</h4>
								<i></i>
							</a>
                        </div>
                        <div id="toggle7" class="toggle-body collapse in">
                            <div class="inner">
                                <p>A cluster-balloonist who became the first person to fly the English Channel launched house into the sky just like in the Disney movie 'Up'. Intrepid Jonathan Trappe 38 took off just like the 78 yer old character Carl Frederickson in the hit movie. Your posts are filed in different categories.</p>
                            </div>
                        </div>
                    </div>
                    <!--/ toggle content -->
            </div>
        </div>
        <!--/ row-->

    </div>
    <!--/ container-->
</body>
</html>