<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="clearfix">

                <div class="col-md-12"><h6 class="foo">散点图</h6></div>
                <!-- post list -->
                <div class="col-md-12">
                    <!-- <h6 class="foo">Content image sliders</h6> -->

                    <div class="col-sm-12">
                        <!-- <h6 class="foo">Content image sliders</h6> -->

                        <!-- Carousel -->
                        <div class="carouFredsel most-commented">
						    <ul id="carouFredsel-1">
                                <li>
                                    <div class="carousel-title"><p>全国主要空气质量</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/effectScatter-map.png" data-rel="prettyPhoto" data-type="effect_scatter_map_china" title="Horton"><img src="./app/images/echarts3/effectScatter-map.png" alt=""/></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>Anscombe's Quartet</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/scatter-anscombe-quartet.png" data-rel="prettyPhoto" data-type="scatter_anscombe_quartet" title="Horton"><img src="./app/images/echarts3/scatter-anscombe-quartet.png" alt=""  style="height: 100%"/></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>Scatter Aqi Color</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/scatter-aqi-color.png" data-rel="prettyPhoto" data-type="scatter_aqi_color" title="Brave"><img src="./app/images/echarts3/scatter-aqi-color.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>Scatter Large</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/scatter-large.png" data-rel="prettyPhoto" data-type="scatter_large" title="Surf up"><img src="./app/images/echarts3/scatter-large.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>1800</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/scatter-life-expectancy-timeline.png" data-rel="prettyPhoto" data-type="scatter_life_expectancy_timeline" title="Surf up"><img src="./app/images/echarts3/scatter-life-expectancy-timeline.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>全国主要城市空气质量</p></div>
                                    <div class="carousel-image"><a href="./app/images/echarts3/scatter-map.png" data-rel="prettyPhoto" data-type="scatter_map_china" title="Horton"><img src="./app/images/echarts3/scatter-map.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>Painter Choice</p></div>
                                    <div class="carousel-image"><a href="./app/images/echarts3/scatter-painter-choice.png" data-rel="prettyPhoto" data-type="scatter_painter_choice" title="Horton"><img src="./app/images/echarts3/scatter-painter-choice.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>Punch Card Of Github</p></div>
                                    <div class="carousel-image"><a href="./app/images/echarts3/scatter-polar-punchCard.png" data-rel="prettyPhoto" data-type="scatter_polar_punch_card" title="Brave"><img src="./app/images/echarts3/scatter-polar-punchCard.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>Punch Card Of Github</p></div>
                                    <div class="carousel-image"><a href="./app/images/echarts3/scatter-punchCard.png" data-rel="prettyPhoto" data-type="scatter_punch_card" title="Surf up"><img src="./app/images/echarts3/scatter-punchCard.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>微博签到数据点亮中国</p></div>
                                    <div class="carousel-image"><a href="./app/images/echarts3/scatter-weibo.png" data-rel="prettyPhoto" data-type="scatter_weibo_map_china" title="Surf up"><img src="./app/images/echarts3/scatter-weibo.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>男性女性身高体重分布</p></div>
                                    <div class="carousel-image"><a href="./app/images/echarts3/scatter-weight.png" data-rel="prettyPhoto" data-type="scatter_weight" title="Horton"><img src="./app/images/echarts3/scatter-weight.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>World Population</p></div>
                                    <div class="carousel-image"><a href="./app/images/echarts3/scatter-world-population.png" data-rel="prettyPhoto" data-type="scatter_population_map_world" title="Horton"><img src="./app/images/echarts3/scatter-world-population.png" alt="" /></a></div>
                                </li>
                            </ul>
                            <a id="carousel-prev-1" class="prev" href="#">prev</a>
                            <a id="carousel-next-1" class="next" href="#">next</a>
                        </div>
                        <!--/ Carousel -->

                    </div>
                    <!--/ Carousel -->
                </div>
                <!--/ post list -->
            </div>
        </div>
        <div class="divider dashed"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12"><h6 class="foo">折线图</h6></div>
                <!-- post list -->
                <div class="col-md-12">
                    <!-- <h6 class="foo">Content image sliders</h6> -->

                    <div class="col-sm-12">
                        <!-- <h6 class="foo">Content image sliders</h6> -->
						<div class="carouFredsel most-commented">
						    <ul id="carouFredsel-2">
						        <li>
                                    <div class="carousel-title"><p>雨流量关系图</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/area-rainfall.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/area-rainfall.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>某楼盘销售情况</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/area-simple.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/area-simple.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>堆叠区域图</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/area-stack.png" data-rel="prettyPhoto" data-type="confidence-band-" title="Brave"><img src="./app/images/echarts3/area-stack.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>Confidence Band</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/confidence-band.png" data-rel="prettyPhoto" data-type="confidenceBand" title="Surf up"><img src="./app/images/echarts3/confidence-band.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>雨量流量关系图</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/grid-multiple.png" data-rel="prettyPhoto" title="Surf up"><img src="./app/images/echarts3/grid-multiple.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>Line Easing</p></div>
                                    <div class="carousel-image"><a href="./app/images/echarts3/line-easing.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/line-easing.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>对数轴示例</p></div>
                                    <div class="carousel-image"><a href="./app/images/echarts3/line-log.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/line-log.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>未来一周气温变化</p></div>
                                    <div class="carousel-image"><a href="./app/images/echarts3/line-marker.png" data-rel="prettyPhoto" title="Brave"><img src="./app/images/echarts3/line-marker.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>Line Polar</p></div>
                                    <div class="carousel-image"><a href="./app/images/echarts3/line-polar.png" data-rel="prettyPhoto" title="Surf up"><img src="./app/images/echarts3/line-polar.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>Line Polar2</p></div>
                                    <div class="carousel-image"><a href="./app/images/echarts3/line-polar2.png" data-rel="prettyPhoto" title="Surf up"><img src="./app/images/echarts3/line-polar2.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>Line Stack</p></div>
                                    <div class="carousel-image"><a href="./app/images/echarts3/line-stack.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/line-stack.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>line-y-category</p></div>
                                    <div class="carousel-image"><a href="./app/images/echarts3/line-y-category.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/line-y-category.png" alt="" /></a></div>
                                </li>
						    </ul>
						    <a id="carousel-prev-2" class="prev" href="#">prev</a>
						    <a id="carousel-next-2" class="next" href="#">next</a>
						</div>
                    </div>
                    <!--/ Carousel -->
                </div>				
            </div>
        </div>
        <div class="divider dashed"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12"><h6 class="foo">柱状图</h6></div>
                <div class="col-md-12">
                    <div class="col-sm-12">
						<div class="carouFredsel most-commented">
						    <ul id="carouFredsel-3">
						        <li>
                                    <div class="carousel-title"><p>bar-negative</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/bar-negative.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/bar-negative.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>交错正负轴标签</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/bar-negative2.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/bar-negative2.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>bar-stack</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/bar-stack.png" data-rel="prettyPhoto" title="Brave"><img src="./app/images/echarts3/bar-stack.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>深圳月最低生活费组成（单位:元）</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/bar-waterfall.png" data-rel="prettyPhoto" title="Surf up"><img src="./app/images/echarts3/bar-waterfall.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>阶梯瀑布图</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/bar-waterfall2.png" data-rel="prettyPhoto" title="Surf up"><img src="./app/images/echarts3/bar-waterfall2.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>bar-y-category-stack</p></div>
                                    <div class="carousel-image"><a href="./app/images/echarts3/bar-y-category-stack.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/bar-y-category-stack.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>世界人口总量</p></div>
                                    <div class="carousel-image"><a href="./app/images/echarts3/bar-y-category.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/bar-y-category.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>某地区蒸发量和降水量</p></div>
                                    <div class="carousel-image"><a href="./app/images/echarts3/bar1.png" data-rel="prettyPhoto" title="Brave"><img src="./app/images/echarts3/bar1.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>动态数据</p></div>
                                    <div class="carousel-image"><a href="./app/images/echarts3/dynamic-data.png" data-rel="prettyPhoto" title="Surf up"><img src="./app/images/echarts3/dynamic-data.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>mix-line-bar</p></div>
                                    <div class="carousel-image"><a href="./app/images/echarts3/mix-line-bar.png" data-rel="prettyPhoto" title="Surf up"><img src="./app/images/echarts3/mix-line-bar.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>2002全国宏观经济指标</p></div>
                                    <div class="carousel-image"><a href="./app/images/echarts3/mix-timeline-finance.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/mix-timeline-finance.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>mix-zoom-on-value</p></div>
                                    <div class="carousel-image"><a href="./app/images/echarts3/mix-zoom-on-value.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/mix-zoom-on-value.png" alt="" /></a></div>
                                </li>
						    </ul>
						    <a id="carousel-prev-3" class="prev" href="#">prev</a>
						    <a id="carousel-next-3" class="next" href="#">next</a>
						</div>
                    </div>
                </div>				
            </div>
        </div>
        <div class="divider dashed"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12"><h6 class="foo">地图</h6></div>
                <div class="col-md-12">
                    <div class="col-sm-12">
						<div class="carouFredsel most-commented">
						    <ul id="carouFredsel-4">
						        <li>
                                    <div class="carousel-title"><p>模拟迁徙</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/geo-lines.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/geo-lines.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>香港18区人口密度 （2011）</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/map-HK.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/map-HK.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>iphone销量</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/map-china-dataRange.png" data-rel="prettyPhoto" title="Brave"><img src="./app/images/echarts3/map-china-dataRange.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>map-china</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/map-china.png" data-rel="prettyPhoto" title="Surf up"><img src="./app/images/echarts3/map-china.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>USA Population Estimates (2012)</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/map-usa.png" data-rel="prettyPhoto" title="Surf up"><img src="./app/images/echarts3/map-usa.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>World Population (2010)</p></div>
                                    <div class="carousel-image"><a href="./app/images/echarts3/map-world-dataRange.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/map-world-dataRange.png" alt="" /></a></div>
                                </li>
						    </ul>
						    <a id="carousel-prev-4" class="prev" href="#">prev</a>
						    <a id="carousel-next-4" class="next" href="#">next</a>
						</div>
                    </div>
                </div>				
            </div>
        </div>
        <div class="divider dashed"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12"><h6 class="foo">饼图</h6></div>
                <div class="col-md-12">
                    <div class="col-sm-12">
						<div class="carouFredsel most-commented">
						    <ul id="carouFredsel-5">
						        <li>
                                    <div class="carousel-title"><p>Customized Pie</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/pie-custom.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/pie-custom.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>pie-doughnut</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/pie-doughnut.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/pie-doughnut.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>pie-nest</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/pie-nest.png" data-rel="prettyPhoto" title="Brave"><img src="./app/images/echarts3/pie-nest.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>南丁格尔玫瑰图</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/pie-roseType.png" data-rel="prettyPhoto" title="Surf up"><img src="./app/images/echarts3/pie-roseType.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>某站点用户访问来源</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/pie-simple.png" data-rel="prettyPhoto" title="Surf up"><img src="./app/images/echarts3/pie-simple.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>某站点用户访问来源</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/pie-simple.png" data-rel="prettyPhoto" title="Surf up"><img src="./app/images/echarts3/pie-simple.png" alt="" /></a></div>
                                </li>
						    </ul>
						    <a id="carousel-prev-5" class="prev" href="#">prev</a>
						    <a id="carousel-next-5" class="next" href="#">next</a>
						</div>
                    </div>
                </div>				
            </div>
        </div>
        <div class="divider dashed"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12"><h6 class="foo">K线图</h6></div>
                <div class="col-md-12">
                    <div class="col-sm-12">
						<div class="carouFredsel most-commented">
						    <ul id="carouFredsel-6">
						        <li>
                                    <div class="carousel-title"><p>上证指数</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/candlestick-sh.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/candlestick-sh.png" alt="" /></a></div>
                                </li>
						    </ul>
						    <a id="carousel-prev-6" class="prev" href="#">prev</a>
						    <a id="carousel-next-6" class="next" href="#">next</a>
						</div>
                    </div>
                </div>				
            </div>
        </div>
        <div class="divider dashed"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12"><h6 class="foo">箱线图</h6></div>
                <div class="col-md-12">
                    <div class="col-sm-12">
						<div class="carouFredsel most-commented">
						    <ul id="carouFredsel-7">
						        <li>
                                    <div class="carousel-title"><p>boxplot-light-velocity</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/boxplot-light-velocity.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/boxplot-light-velocity.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>boxplot-light-velocity2</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/boxplot-light-velocity2.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/boxplot-light-velocity2.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>Multiple Categories</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/boxplot-multi.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/boxplot-multi.png" alt="" /></a></div>
                                </li>
						    </ul>
						    <a id="carousel-prev-7" class="prev" href="#">prev</a>
						    <a id="carousel-next-7" class="next" href="#">next</a>
						</div>
                    </div>
                </div>				
            </div>
        </div>
        <div class="divider dashed"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12"><h6 class="foo">热力图</h6></div>
                <div class="col-md-12">
                    <div class="col-sm-12">
						<div class="carouFredsel most-commented">
						    <ul id="carouFredsel-8">
						        <li>
                                    <div class="carousel-title"><p>heatmap-cartesian</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/heatmap-cartesian.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/heatmap-cartesian.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>全国主要城市空气质量</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/heatmap-map.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/heatmap-map.png" alt="" /></a></div>
                                </li>
						    </ul>
						    <a id="carousel-prev-8" class="prev" href="#">prev</a>
						    <a id="carousel-next-8" class="next" href="#">next</a>
						</div>
                    </div>
                </div>				
            </div>
        </div>
        <div class="divider dashed"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12"><h6 class="foo">关系图</h6></div>
                <div class="col-md-12">
                    <div class="col-sm-12">
						<div class="carouFredsel most-commented">
						    <ul id="carouFredsel-9">
						        <li>
                                    <div class="carousel-title"><p>Les Miserables</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/graph-circular-layout.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/graph-circular-layout.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>Les Miserables</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/graph-force.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/graph-force.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>graph-force2</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/graph-force2.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/graph-force2.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>graph-webkit-dep</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/graph-webkit-dep.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/graph-webkit-dep.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>Les Miserables</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/graph.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/graph.png" alt="" /></a></div>
                                </li>
						    </ul>
						    <a id="carousel-prev-9" class="prev" href="#">prev</a>
						    <a id="carousel-next-9" class="next" href="#">next</a>
						</div>
                    </div>
                </div>				
            </div>
        </div>
        <div class="divider dashed"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12"><h6 class="foo">矩形图</h6></div>
                <div class="col-md-12">
                    <div class="col-sm-12">
						<div class="carouFredsel most-commented">
						    <ul id="carouFredsel-10">
						        <li>
                                    <div class="carousel-title"><p>Disk Usage</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/treemap-disk.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/treemap-disk.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>How $3.7 Trillion is Spent</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/treemap-obama.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/treemap-obama.png" alt="" /></a></div>
                                </li>
						    </ul>
						    <a id="carousel-prev-10" class="prev" href="#">prev</a>
						    <a id="carousel-next-10" class="next" href="#">next</a>
						</div>
                    </div>
                </div>				
            </div>
        </div>
        <div class="divider dashed"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12"><h6 class="foo">平行坐标</h6></div>
                <div class="col-md-12">
                    <div class="col-sm-12">
						<div class="carouFredsel most-commented">
						    <ul id="carouFredsel-11">
						        <li>
                                    <div class="carousel-title"><p>parallel-aqi</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/parallel-aqi.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/parallel-aqi.png" alt="" /></a></div>
                                </li>
						    </ul>
						    <a id="carousel-prev-11" class="prev" href="#">prev</a>
						    <a id="carousel-next-11" class="next" href="#">next</a>
						</div>
                    </div>
                </div>				
            </div>
        </div>
        <div class="divider dashed"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12"><h6 class="foo">桑基图</h6></div>
                <div class="col-md-12">
                    <div class="col-sm-12">
						<div class="carouFredsel most-commented">
						    <ul id="carouFredsel-12">
						        <li>
                                    <div class="carousel-title"><p>Sankey Diagram</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/sankey-energy.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/sankey-energy.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>Sankey Diagram</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/sankey-product.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/sankey-product.png" alt="" /></a></div>
                                </li>
						    </ul>
						    <a id="carousel-prev-12" class="prev" href="#">prev</a>
						    <a id="carousel-next-12" class="next" href="#">next</a>
						</div>
                    </div>
                </div>				
            </div>
        </div>
        <div class="divider dashed"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12"><h6 class="foo">漏斗图</h6></div>
                <div class="col-md-12">
                    <div class="col-sm-12">
						<div class="carouFredsel most-commented">
						    <ul id="carouFredsel-13">
						        <li>
                                    <div class="carousel-title"><p>漏斗图(对比)</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/funnel-align.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/funnel-align.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>漏斗图</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/funnel-customize.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/funnel-customize.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>漏斗图</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/funnel-mutiple.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/funnel-mutiple.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>漏斗图</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/funnel.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/funnel.png" alt="" /></a></div>
                                </li>
						    </ul>
						    <a id="carousel-prev-13" class="prev" href="#">prev</a>
						    <a id="carousel-next-13" class="next" href="#">next</a>
						</div>
                    </div>
                </div>				
            </div>
        </div>
        <div class="divider dashed"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12"><h6 class="foo">仪表盘</h6></div>
                <div class="col-md-12">
                    <div class="col-sm-12">
						<div class="carouFredsel most-commented">
						    <ul id="carouFredsel-14">
						        <li>
                                    <div class="carousel-title"><p>gauge-car</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/gauge-car.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/gauge-car.png" alt="" /></a></div>
                                </li>
                                <li>
                                    <div class="carousel-title"><p>gauge</p></div>
                                    <div class="carousel-image"><a ng-href="./app/images/echarts3/gauge.png" data-rel="prettyPhoto" title="Horton"><img src="./app/images/echarts3/gauge.png" alt="" /></a></div>
                                </li>
						    </ul>
						    <a id="carousel-prev-14" class="prev" href="#">prev</a>
						    <a id="carousel-next-14" class="next" href="#">next</a>
						</div>
                    </div>
                </div>				
            </div>
        </div>
    </div>


</div>
<script src="app/util/global/dark/general.js"></script>
<script src="app/util/charts/charts.js"></script>