<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="author" content="ThemeFuse">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Arctic Sunset | Article Example</title>

<!-- main JS libs  -->
<script src="js/libs/modernizr.min.js"></script>
<script src="js/libs/jquery-1.10.0.js"></script>
<script src="js/libs/bootstrap.min.js"></script>

<!-- Style CSS-->
<link href="style.less" media="screen" rel="stylesheet/less" type="text/css">

<!-- scripts  -->
<script src="js/general.js"></script>
<!-- Placeholders -->
<script type="text/javascript" src="js/jquery.powerful-placeholder.min.js"></script>

<!-- CarouFredSel  -->
<script src="js/jquery.carouFredSel-6.2.1-packed.js"></script>
<script>
    jQuery(document).ready(function($) {

        $('#carouFredsel-7').carouFredSel({
            next : "#carousel-next-7",
            prev : "#carousel-prev-7",
            auto: false,
            scroll: {items : 1}
        });

        $(window).resize(function() {
            $('#carouFredsel-7').carouFredSel({
                next : "#carousel-next-7",
                prev : "#carousel-prev-7",
                auto: false,
                scroll: {items : 1}
            });
        })
    });
</script>

<!-- LESS -->
<script src="js/libs/less.js"></script>

<!--[if lt IE 9]><script src="js/respond.min.js"></script><![endif]-->
<!--[if gte IE 9]>
<style type="text/css">
    .gradient {filter: none !important;}
</style>
<![endif]-->
</head>

<body>

    <!-- Header-->
    <div class="header header-transparent">
        <div class="header-inner">
            <!-- container-->
            <div class="container">
                <!-- row-->
                <div class="row">
                    <div class="col-sm-12">

                        <!-- Horizontal Filter -->
                        <div class="blog_filter clearfix">
                            <ul class="filter_menu">
                                <li><a href="#"><i class="ico-cat ico-cat1"></i>Mobile Apps</a></li>
                                <li><a href="#"><i class="ico-cat ico-cat2"></i>Calendar</a></li>
                                <li class="current-menu-item"><a href="#"><i class="ico-cat ico-cat3"></i>Favorites</a></li>
                                <li><a href="#"><i class="ico-cat ico-cat4"></i>Hot stuff</a></li>
                                <li><a href="#"><i class="ico-cat ico-cat5"></i>Comments</a></li>
                                <li><a href="#"><i class="ico-cat ico-cat6"></i>Networking</a></li>
                            </ul>
                        </div>
                        <!--/ Horizontal Filter -->
                    </div>
                </div>
                <!--/ row-->

                <div class="row">
                    <div class="col-sm-12">
                        <!-- Carousel Feature -->
                        <div class="carouFredsel feature boxed">
                            <ul id="carouFredsel-7">
                                <li class="wide">
                                    <a href="#">
                                        <div class="carousel-title"><i class="ico-feature ico-feature1"></i><h5>Wall e animated series</h5></div>
                                        <div class="carousel-image"><img src="images/temp/feature-slider-1.png" alt="" /></div>
                                    </a>
                                    <div class="badge badge-discount"></div>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="carousel-title"><i class="ico-feature ico-feature2"></i><h5>Toy Story 3</h5></div>
                                        <div class="carousel-image"><img src="images/temp/feature-slider-2.png" alt="" /></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="carousel-title"><i class="ico-feature ico-feature2"></i><h5>Ratatouille</h5></div>
                                        <div class="carousel-image"><img src="images/temp/feature-slider-3.png" alt="" /></div>
                                    </a>
                                    <div class="badge badge-try"></div>
                                </li>
                                <li class="wide">
                                    <a href="#">
                                        <div class="carousel-title"><i class="ico-feature ico-feature1"></i><h5>Wall e animated series</h5></div>
                                        <div class="carousel-image"><img src="images/temp/feature-slider-4.png" alt="" /></div>
                                    </a>
                                </li>
                            </ul>
                            <a id="carousel-prev-7" class="prev" href="#">prev</a>
                            <a id="carousel-next-7" class="next" href="#">next</a>
                        </div>
                        <!--/ Carousel Feature -->
                    </div>
                </div>
                <!--/ row-->
            </div>
            <!--/ container-->
        </div>
    </div>
    <!--/ Header-->

    <!-- container-->
    <div class="container">

        <!-- row-->
        <div class="row">
            <div class="col-sm-8">
                <!-- content-->
                <div class="content" role="main">

                    <!-- Article -->
                    <article class="post-item intro-text">
                        <div class="post-title"><h2><a href="#">UP fan takes to the skies in a house by tying hundreds of balloons to it …</a></h2></div>
                        <div class="post-meta-top">
                            <span class="post-date">SEPTEMBER  5TH, 2012</span>
                            <span class="post-author">Johnathan doe</span>
                        </div>
                        <div class="divider dashed"></div>
                        <div class="post-intro-text"><p>A cluster-balloonist who became the first person to fly the English Channel has launched a house into the sky just like in the Disney movie 'Up'. Intrepid Jonathan Trappe, 38, took off just like the 78-year-old character Carl Frederickson in the hit</p></div>
                        <div class="divider dashed"></div>
                        <div class="post-image"><img src="images/temp/post_img1.jpg" alt=""></div>
                        <div class="post-desc">
                            <p>A cluster-balloonist who became the first person to fly the English Channel has launched a house into the sky just like in the Disney movie 'Up'. Intrepid Jonathan Trappe, 38, took off just like the 78-year-old character Carl Frederickson in the hit movie. Trappe has invested $170,000 into his Atlantic dream, for which he's been training his whole career, and now he's launching a site</p>
                            <p>A cluster-balloonist who became the first person to fly the English Channel has launched a house into the sky just like in the Disney movie 'Up'. Intrepid Jonathan Trappe, 38, took off just like the 78-year-old character Carl Frederickson in the hit movie. Trappe has invested $170,000 into his Atlantic dream, for which he's been training his whole career, and now he's launching a site</p>
                            <p><span class="quote_right">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</span>A cluster-balloonist who became the first person to fly the English Channel has launched a house into the sky just like in the Disney movie 'Up'. Intrepid Jonathan Trappe, 38, took off just like the 78-year-old character Carl Frederickson in the hit movie. Trappe has invested $170,000 into his Atlantic dream, for which he's been training his whole career, and now he's launching a site so ordinary people can play.</p>
                            <p>A cluster-balloonist who became the first person to fly the English Channel has launched a house into the sky just like in the Disney movie 'Up'. Intrepid Jonathan Trappe, 38, took off just like the 78-year-old character Carl Frederickson in the hit movie.</p>
                        </div>
                    </article>
                    <!--/ Article -->

                    <!-- tabs -->
                    <div class="tabs_framed tabs_article">
                        <div class="inner">
                            <ul class="tabs clearfix active_bookmark1">
                                <li class="active"><a href="#popular5" data-toggle="tab">Popular Entries</a></li>
                                <li><a href="#recent5" data-toggle="tab">Recent Comments</a></li>
                            </ul>

                            <div class="tab-content clearfix">
                                <div class="tab-pane fade in active clearfix" id="popular5">
                                    <div class="tab_image pull-left"><img src="images/temp/tabimage4.png" alt="" /></div>
                                    <h2>About the author</h2>
                                    <p>A cluster-balloonist who became the first person to fly the English Channel has launched a house into the sky just like in the Disney movie 'Up'. Intrepid Jonathan Trappe, 38, took off just like the 78-year-old character Carl Frederickson in the hit movie. Trappe has invested $170,000 into his Atlantic dream, for which he's been training his whole career, and now he's launching a site so ordinary people can play their part.</p>
                                </div>
                                <div class="tab-pane fade clearfix" id="recent5">
                                    <h2>About the Article</h2>
                                    <div class="tab_image pull-right"><img src="images/temp/tabimage1.png" alt="" /></div>
                                    <p>A cluster-balloonist who became the first person to fly the English Channel has launched a house into the sky just like in the Disney movie 'Up'. Intrepid Jonathan Trappe, 38, took off just like the 78-year-old character Carl Frederickson in the hit movie. Trappe has invested $170,000 into his Atlantic dream, for which he's been training his whole career, and now he's launching a site so ordinary people can play their part.</p>
                                </div>
                            </div>
                        </div>
                        <div class="bottom"></div>
                    </div>
                    <!--/ tabs -->

                    <div class="divider dashed margin-30"></div>

                    <!-- post comments -->
                    <div class="comment-list clearfix" id="comments">
                        <h2>4 Readers Commented</h2>
                        <a href="#addcomments" class="link-add-comment anchor">Join Discussion</a>

                        <ol>
                            <li class="comment">

                                <div class="comment-body">
                                    <div class="comment-arrow"></div>
                                    <div class="comment-avatar">
                                        <div class="avatar"><img src="images/temp/avatar1.png" alt="" /></div>
                                    </div>
                                    <div class="comment-text">
                                        <div class="comment-author clearfix">
                                            <a href="#" class="link-author">Brad Pit</a> <span class="comment-date">June 28, 2012</span> | <a href="#addcomments" class="link-reply anchor">Reply</a>
                                        </div>
                                        <div class="comment-entry">
                                            William Bradley "Brad" Pitt is an American actor and film producer. Pitt has received four Academy Award nominations and five Golden Globe Award nominations.
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>

                            </li>

                            <li class="comment">

                                <div class="comment-body">
                                    <div class="comment-arrow"></div>
                                    <div class="comment-avatar">
                                        <div class="avatar"><img src="images/temp/avatar2.png" alt="" /></div>
                                    </div>
                                    <div class="comment-text">
                                        <div class="comment-author clearfix">
                                            <a href="#" class="link-author">Ari Gold</a> <span class="comment-date">June 28, 2012</span> | <a href="#addcomments" class="link-reply anchor">Reply</a>
                                        </div>
                                        <div class="comment-entry">
                                            William Bradley "Brad" Pitt is an American actor and film producer. Pitt has received four Academy Award nominations and five Golden Globe Award nominations.William Bradley "Brad" Pitt is an American actor and film producer. Pitt has received four
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>

                                <!-- comment reply -->
                                <ul class="children">
                                    <li class="comment">
                                        <div class="comment-body">
                                            <div class="comment-arrow"></div>
                                            <div class="comment-avatar">
                                                <div class="avatar"><img src="images/temp/avatar3.png" alt="" /></div>
                                            </div>
                                            <div class="comment-text">
                                                <div class="comment-author clearfix">
                                                    <a href="#" class="link-author">Elijah Wood</a> <span class="comment-date">June 28, 2012</span> | <a href="#addcomments" class="link-reply anchor">Reply</a>
                                                </div>
                                                <div class="comment-entry">
                                                    Elijah Wood is an American actor best known for portraying Frodo.
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </li>
                                </ul>
                                <!--/ comment reply -->

                            </li>

                            <li class="comment">

                                <div class="comment-body">
                                    <div class="comment-arrow"></div>
                                    <div class="comment-avatar">
                                        <div class="avatar"><img src="images/temp/avatar4.png" alt="" /></div>
                                    </div>
                                    <div class="comment-text">
                                        <div class="comment-author clearfix">
                                            <a href="#" class="link-author">Superman</a> <span class="comment-date">June 28, 2012</span> | <a href="#addcomments" class="link-reply anchor">Reply</a>
                                        </div>
                                        <div class="comment-entry">
                                            William Bradley "Brad" Pitt is an American actor and film producer. Pitt has received four Academy Award nominations and five Golden Globe Award nominations.
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>

                            </li>

                        </ol>
                    </div>
                    <!--/ post comments -->

                    <!-- comment form -->
                    <div class="add-comment boxed" id="addcomments">

                        <div class="add-comment-title"><h3>Leave a reply</h3></div>

                        <div class="comment-form">
                            <form action="#" method="post" id="commentForm" class="ajax_form">

                                <div class="form-inner">
                                    <div class="field_text">
                                        <label for="name" class="label_title">Name</label>
                                        <input type="text" name="name" id="name" value="" class="inputtext input_middle required" />
                                    </div>
                                    <div class="field_text omega">
                                        <label for="email" class="label_title">Email (never published)</label>
                                        <input type="text" name="email" id="email" value="" class="inputtext input_middle required" />
                                    </div>
                                    <div class="clear"></div>
                                    <div class="field_text field_textarea">
                                        <label for="message" class="label_title">Comment</label>
                                        <textarea cols="30" rows="10" name="message" id="message" class="textarea textarea_middle required"></textarea>
                                    </div>
                                    <div class="clear"></div>
                                </div>

                                <div class="rowSubmit">
                                    <span class="btn btn-red link-submit"><input type="submit" id="send" value="Send Message" /></span>
                                    <a onclick="document.getElementById('commentForm').reset();return false" href="#" class="link-reset btn"><span>Reset all</span></a>
                                </div>

                            </form>
                        </div>
                    </div>
                    <!--/ comment form -->

                </div>
                <!--/ content-->
            </div>

            <div class="col-sm-4">
                <!-- sidebar-->
                <div class="sidebar">

                    <!-- widget categories -->
                    <div class="widget-container widget_categories boxed">
                        <div class="inner">
                            <h3 class="widget-title">Blog Categories</h3>
                            <ul>
                                <li><a href="#"><i class="ico-cat ico-cat1"></i><span>Awesome Ideas</span></a></li>
                                <li><a href="#"><i class="ico-cat ico-cat2"></i><span>TV Shows</span><sup class="note">3</sup></a></li>
                                <li><a href="#"><i class="ico-cat ico-cat3"></i><span>Around the World</span></a></li>
                                <li><a href="#"><i class="ico-cat ico-cat4"></i><span>Gaming</span></a></li>
                                <li class="current-menu-item"><a href="#"><i class="ico-cat ico-cat5"></i><span>Photography</span></a></li>
                                <li><a href="#"><i class="ico-cat ico-cat6"></i><span>Graphic Design</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--/widget categories-->

                    <!-- latest comments-->
                    <div class="widget-container widget_recent_comments boxed">
                        <div class="inner">
                            <h3 class="widget-title">Latest Comments</h3>
                            <ul id="recentcomments">
                                <li class="recentcomments clearfix">
                                    <a href="#" class="widget-thumb"><img src="images/temp/latest5.png" alt="" /></a>
                                    <span class="recent_comment"><a href="#" rel="external nofollow">Jonatan Doe: </a>UP fan takes to the skies in a house by tying hundreds of balloons</span>
                                </li>
                                <li class="recentcomments clearfix">
                                    <a href="#" class="widget-thumb"><img src="images/temp/latest6.png" alt="" /></a>
                                    <span class="recent_comment"><a href="#" rel="external nofollow">DimiB: </a>Working in paradise is just murder! Ben Miller is on the case in glorious</span>
                                </li>
                                <li class="recentcomments clearfix">
                                    <a href="#" class="widget-thumb"><img src="images/temp/latest7.png" alt="" /></a>
                                    <span class="recent_comment"><a href="#" rel="external nofollow">Alex Luncasu: </a>Mancini red rage! Kompany facing ban for 'nothing' fumes City</span>
                                </li>
                                <li class="recentcomments clearfix">
                                    <a href="#" class="widget-thumb"><img src="images/temp/latest8.png" alt="" /></a>
                                    <span class="recent_comment"><a href="#" rel="external nofollow">BogdanC: </a>Adebayor set for Africa Cup of Nations as Togo chief overrules deci-</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- latest comments-->

                    <!-- widget tags-->
                    <div class="widget-container widget_tag_cloud boxed">
                        <div class="inner">
                            <h3 class="widget-title">Tags</h3>
                            <div class="tagcloud">
                                <a href="#" class="tag-link-1" title="2 topics"><span>Design</span></a>
                                <a href="#" class="tag-link-2" title="3 topics"><span>Fashion Culture</span></a>
                                <a href="#" class="tag-link-3" title="5 topics"><span>Electricity</span></a>
                                <a href="#" class="tag-link-4" title="8 topics"><span>Kitchen</span></a>
                                <a href="#" class="tag-link-5" title="9 topics"><span>Cinema</span></a>
                                <a href="#" class="tag-link-6" title="3 topics"><span>Anniversaries</span></a>
                                <a href="#" class="tag-link-7" title="6 topics"><span>Web</span></a>
                                <a href="#" class="tag-link-8" title="8 topics"><span>Cooking</span></a>
                                <a href="#" class="tag-link-9" title="9 topics"><span>Print</span></a>
                            </div>
                        </div>
                    </div>
                    <!--/ widget tags-->

                    <!-- widget flickr-->
                    <div class="widget-container flickr boxed clearfix">
                        <div class="inner">
                            <h3 class="widget-title">Flickr Photo Stream</h3>
                            <div class="flickr-inner">
                                <div class="flickr_badge_image"><a href="#"><img src="images/temp/latest1.png" alt="" /></a></div>
                                <div class="flickr_badge_image"><a href="#"><img src="images/temp/latest2.png" alt="" /></a></div>
                                <div class="flickr_badge_image"><a href="#"><img src="images/temp/latest3.png" alt="" /></a></div>
                                <div class="flickr_badge_image"><a href="#"><img src="images/temp/latest4.png" alt="" /></a></div>
                                <div class="flickr_badge_image"><a href="#"><img src="images/temp/latest5.png" alt="" /></a></div>
                                <div class="flickr_badge_image"><a href="#"><img src="images/temp/latest6.png" alt="" /></a></div>
                                <div class="flickr_badge_image"><a href="#"><img src="images/temp/latest7.png" alt="" /></a></div>
                                <div class="flickr_badge_image"><a href="#"><img src="images/temp/latest8.png" alt="" /></a></div>
                            </div>
                        </div>
                    </div>
                    <!--/ widget flickr-->

                </div>
                <!--/ sidebar-->
            </div>
        </div>
        <!--/ row-->
    </div>
    <!--/ container-->

    <!-- Footer -->
    <div class="footer footer-light">
        <div class="divider-full"></div>

        <!-- container-->
        <div class="container">

            <div class="divider-top"></div>

            <div class="row">
                <div class="col-sm-2 col-xs-6">
                    <div class="widget-container widget_nav_menu">
                        <h3 class="widget-title"><span>OUR HOSTING</span></h3>
                        <ul>
                            <li><a href="#"><span>Website Hosting</span></a></li>
                            <li><a href="#"><span>Reseller Hosting</span></a></li>
                            <li><a href="#"><span>Cloud Servers</span></a></li>
                            <li><a href="#"><span>Site Supercharge</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-6">
                    <div class="widget-container widget_nav_menu">
                        <h3 class="widget-title"><span>AFFILIATES</span></h3>
                        <ul>
                            <li><a href="#"><span>Hosting Affiliates</span></a></li>
                            <li><a href="#"><span>Affiliate Banners</span></a></li>
                            <li><a href="#"><span>Affiliate Login</span></a></li>
                            <li><a href="#"><span>Affiliate Sign-up</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-6">
                    <div class="widget-container widget_nav_menu">
                        <h3 class="widget-title"><span>SUPPORT</span></h3>
                        <ul>
                            <li><a href="#"><span>Knowledgebase</span></a></li>
                            <li><a href="#"><span>Community Forum</span></a></li>
                            <li><a href="#"><span>Video Tutorials</span></a></li>
                            <li><a href="#"><span>Contact Live Support</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-6">
                    <div class="widget-container widget_nav_menu">
                        <h3 class="widget-title"><span>ABOUT US</span></h3>
                        <ul>
                            <li><a href="#"><span>About Cloud-Host</span></a></li>
                            <li><a href="#"><span>Our Team</span></a></li>
                            <li><a href="#"><span>In the Press</span></a></li>
                            <li><a href="#"><span>Contact us directly</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-6">
                    <div class="widget-container widget_nav_menu">
                        <h3 class="widget-title"><span>CAREERS</span></h3>
                        <ul>
                            <li><a href="#"><span>Join our team</span></a></li>
                            <li><a href="#"><span>Job Offerings Board</span></a></li>
                            <li><a href="#"><span>Send your Resume</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-6">
                    <div class="widget-container widget_contact">
                        <h3 class="widget-title"><span>OUR ADDRESS</span></h3>
                        <ul class="contact-address">
                            <li class="address"><span>Rue Teissere, #.24 060</span></li>
                            <li class="city"><span>Cannes, France</span></li>
                            <li class="phone"><span>Phone: +33(0) 9399 79</span></li>
                            <li class="fax"><span>Fax: +33(0) 5499 7987</span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="divider-bottom"></div>

            <div class="row">
                <div class="col-sm-2"><div class="write_email footer_bottom"><a href="#"><i class="ico-footer-support ico-footer-support1"></i><span>Write us an Email</span></a></div></div>
                <div class="col-sm-2"><div class="live_chat footer_bottom"><a href="#"><i class="ico-footer-support ico-footer-support2"></i><span>Live Chat 24 / 7</span></a></div></div>
                <div class="col-sm-4"><div class="live_support footer_bottom"><a href="#"><i class="ico-footer-support ico-footer-support3"></i><span>Support: +33 (0) 9399 7987</span></a></div></div>
                <div class="col-sm-4"><div class="copyright footer_bottom"><span>&copy; Copyright 2012 | Hosting Co. All rights reserved</span></div></div>
            </div>
        </div>
        <!--/ container-->
    </div>
    <!--/ Footer -->

</body>
</html>